@{
    Layout = null;
}

<!DOCTYPE HTML PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>友力信息管理系统</title>
    <link href="~/css/StyleSheet1.css" rel="stylesheet" type="text/css" />
    <link href="~/layui/css/layui.css" rel="stylesheet" type="text/css" />
    <script type="text/javascript" src="~/js/jquery-3.3.1.js"></script>
    <script type="text/javascript" src="~/layer/layer.js"></script>
    <script type="text/javascript" src="~/layui/layui.js"></script>
    <script type="text/javascript">
        layui.config({
            base: '/layui_exts/',
        }).extend({
            excel: 'excel'
        });
    </script>
    <style>
        p {
            margin: 10px 10px 10px 10px;
            padding: 10px 10px 10px 10px;
        }

        body {
            font-size: 17px;
        }

        .word {
            white-space: normal;
            word-wrap: break-word;
            word-break: break-all;
            text-align: center;
        }
        input,button,select,textarea{ outline:none;}
    </style>
    <script type="text/javascript">
        var mom = 0;
        var ContractDetialsCheckId = '@ViewData["ContractDetialsCheckId"]';
        var CuId = '@ViewData["Id"]';
        var readoly = '@ViewData["reado"]';
        var today = new Date();
        var stu = 0;
        var y = today.getFullYear();
        var m = today.getMonth();
        var d = today.getDate();
        var CustomerId = '@ViewData["CustomerId"]';
        $.ajaxSetup({
            cache: false
        })
        layui.use(['jquery', 'layer', 'excel', 'upload'], function () {
            var $ = layui.jquery;
            var upload = layui.upload;
            var layer = layui.layer;
            var excel = layui.excel;

            $(function () {
                $('#addnewc').click(function () {
                    location.reload();
                });
                $("table:eq(1)").css({ " vertical-align": "inherit", "text-align": "center" })
                function add(file) {

                    var CuNumber = $("[name=ContractNumber").val();
                    var ApplierName = new Array();
                    var ApplierNameValue = new Array();

                    var appindex = 0;
                    var appbool = true;
                    var cubool = true;
                    var inp = new Array();
                    var inn = 0;
                    $("p input").each(function (i) {
                        var inq = $("p input:eq(" + i + ")").val()
                        $("p input:eq(" + i + ")").text(inq);
                    })
                    $(":input").each(function (i) {
                        if ($(":input:eq(" + i + ")").val() == 0) {
                            if ($(":input:eq(" + i + ")").attr("type") == "text") {
                                inp[inn] = $(":input:eq(" + i + ")");
                                inn++;
                            }
                        }
                    })
                    var len = inp.length;
                    layer.confirm('有' + len + '项未填或为零确定保存吗', {
                        btn: ['确定', '取消']
                        , yes: function (index) {
                            layer.close(index)
                            $.ajax({
                                url: "/ProductionPlanning/SeleContractNumber",
                                data: { ContractNumber: CuNumber },
                                dataType: "text",
                                async: false,
                                success: function (data) {
                                    if (data == "true") {
                                        cubool = true;
                                    }
                                    else {
                                        if (CuNumber == "@ViewData["CuNumber"]" && CuNumber != "") {

                                            cubool = true;
                                        } else {
                                            layer.msg("合同编号重复")
                                        cubool = false
                                    }
                                }
                            }
                            })
                    $(".divdiv [name]").each(function (i) {

                        appbool = true;
                        for (var index = 0; index < ApplierName.length; index++) {
                            if (ApplierName[index] == $(".divdiv [name]:eq(" + i + ")").attr("name") || $(".divdiv [name]:eq(" + i + ")").attr("name") == "Contact1") {
                                appbool = false;
                            }
                        }
                        if (appbool) {
                            if ($(".divdiv [name]:eq(" + i + ")").val() == "") {
                                $(".divdiv [name]:eq(" + i + ") input").each(function (j) {
                                    if ($(".divdiv [name]:eq(" + i + ") input:eq(" + j + ")").val() == 0) {
                                        $(".divdiv [name]:eq(" + i + ") input:eq(" + j + ")").parent().hide();
                                    }
                                })
                                ApplierNameValue[appindex] = $.trim($(".divdiv [name]:eq(" + i + ")").text());
                            } else {
                                ApplierNameValue[appindex] = $.trim($(".divdiv [name]:eq(" + i + ")").val());
                            }
                            ApplierName[appindex] = $(".divdiv [name]:eq(" + i + ")").attr("name");
                            appindex++;
                        }
                    })
                    ApplierName[ApplierName.length] = "Money"
                    ApplierNameValue[ApplierNameValue.length] = $.trim($("[name=Money]").val())
                    if (cubool) {

                        $(":input").each(function (i) {

                            $(":input:eq(" + i + ")").attr("value", $(":input:eq(" + i + ")").val());
                        })
                        bdhtml = window.document.body.innerHTML;


                        $.ajax({
                            url: "/ProductionPlanning/AddApplierList",
                            type: "post",
                            data: { ApplierName: ApplierName, ApplierNameValue: ApplierNameValue, id: ContractDetialsCheckId, ContractNumber: CuNumber, file: file },
                            dataType: "text",
                            success: function (data) {
                                if (data == "true") {
                                    $.ajax({
                                        url: "/ProductionPlanning/ById",
                                        type: "get",
                                        dataType: "text",
                                        async: false,
                                        success: function (data) {
                                            CuId = data;

                                        }
                                    })
                                    $.ajax({
                                        url: "/ProductionPlanning/Addhtml",
                                        data: { id: CuId, ids: ContractDetialsCheckId, html: bdhtml },
                                        type: "post",
                                        dataType: "text",
                                        success: function (data) {

                                        }
                                    })
                                    var obj = {}
                                    var ProductName = ""
                                    var ProductSpec = ""
                                    var Units = ""
                                    var Count = ""
                                    var Price = ""
                                    var id = ""
                                    $(".ji").each(function (i) {
                                        var value;
                                        var aa;

                                        if ($("[name=ProductName]:eq(" + i + ") input").val() != undefined) {
                                            value = $.trim($("[name=ProductName]:eq(" + i + ") input").val())
                                        }
                                        else {
                                            value = $.trim($("[name=ProductName]:eq(" + i + ")").text())

                                        }
                                        if ($("[name=ProductSpec]:eq(" + i + ") input").val() != undefined) {
                                            aa = $.trim($("[name=ProductSpec]:eq(" + i + ") input").val())
                                        }
                                        else {
                                                aa = $.trim($("[name=ProductSpec]:eq(" + i + ")").text())
                                        }

                                        if (value != "") {
                                            ProductName += value.toString() + ","

                                            ProductSpec += aa.toString() + ","

                                            Units += $.trim($("[name=Units]:eq(" + i + ")").val()).toString() + ","
                                            Count += $.trim($("[name=Count]:eq(" + i + ")").val()).toString() + ","
                                            Price += $.trim($("[name=Price]:eq(" + i + ")").val()).toString().replace("￥", "") + ","
                                            id += $.trim($(".id:eq(" + i + ")").text()).toString() + ","
                                        }
                                    })

                                    obj['ProductName'] = ProductName.substr(0, ProductName.lastIndexOf(","))
                                    obj['ProductSpec'] = ProductSpec.substr(0, ProductSpec.lastIndexOf(","))
                                    obj['Units'] = Units.substr(0, Units.lastIndexOf(","))
                                    obj['Count'] = Count.substr(0, Count.lastIndexOf(","))
                                    obj['Price'] = Price.substr(0, Price.lastIndexOf(","))
                                    obj['id'] = id.substr(0, id.lastIndexOf(","))

                                    $.ajax({
                                        url: "/ProductionPlanning/AddDetai",
                                        type: "post",
                                        data: { data: obj, id: CuId, ids: ContractDetialsCheckId },
                                        dataType: "text",
                                        success: function (data) {
                                            if (data == "true") {
                                                layer.closeAll()
                                                layer.msg("保存成功")
                                                stu = 1;
                                            }
                                        }
                                    })
                                }
                            }
                        })

                    }
                }, btn2: function () {
                    if (len != 0) {
                        var ainp = inp[0];
                        ainp.focus();
                    }
                }
            })
        }
                function myBtn() {
                    var mom1 = 0;
                    $(".ji").each(function (i) {
                        var count = $(".ji:eq(" + i + ") td:eq(3) input").val();
                        var price = $(".ji:eq(" + i + ") td:eq(5) input").val();

                        var num = Number(count) * Number($.trim(price).toString().replace("￥", ""))

                        $(".ji:eq(" + i + ") td:eq(6)").text(num.toFixed(2));
                        i++
                    });
                    $(".ji td:nth-child(7)").each(function (i) {
                        var mo = $(".ji td:nth-child(7):eq(" + i + ")").text();
                        mom1 = Number(mo) + Number(mom1);
                        i++;
                    })
                    $(".Money td:nth-child(2)").text(mom1.toFixed(2));
                    var yu = $(".l:eq(0) input").val();
                    var an = $(".l:eq(1) input").val();
                    var num = mom1 + Number(yu) + Number(an);
                    $(".l:eq(2)").text(num.toFixed(2));
                    var sui = Number($(".l:eq(3) input").val());
                    var ss = Number(num + sui)
                    $(".l:eq(4)").text(ss);
                }

                function ButtonClick() {

                    if ($("button:eq(1)").text() == "删除") {
                        $(this).parents("tr").remove()
                        myBtn()
                        if (ContractDetialsCheckId != "0") {
                            $.ajax({
                                url: "/ProductionPlanning/Del",
                                data: { index: $(".id").text(), cuid: ContractDetialsCheckId },
                                type: "post",
                                datatype: "text",
                                success: function () {
                                    layer.msg("删除成功")
                                }
                            })
                        }
                    } else {
                        layer.msg("只有一行不可删除")
                    }
                }
                function AppDiv() {

                    if ($(this).find("input").val() != undefined) {
                        $(this).find("input").show()
                    } else {
                        var value = $(this).text()
                        $(this).empty()
                        $(this).append("<input type='text' class='layui-input layui-table-edit' style='position: relative' value='" + value + "'/>")
                        $(this).children().focus()
                    }

                }
                function DivMofocus() {
                    if ($(this).val() == "") {
                        $(this).parent().text("空")
                    } else {
                        $(this).parent().text($(this).val())
                    }
                    $(this).hide()
                }
                function keydown() {
                    if (event.keyCode == 32) {
                        var ProductName = "<td><div class='word' name='ProductName' style='width:300px'>空</div></td>"
                        var ProductSpec = "<td><div class='word' name='ProductSpec' style='width:300px'>空</div></td>"
                        var Units = "<td><input name='Units' type='text'  value='' style='width: 50px'/></td>"
                        var Count = "<td><input name='Count' type='text'  value='' style='width: 60px'/></td>"
                        var Remarks = "<td><input type='text'/></td>"
                        var Money = "<td style='width: 50px'></td>"
                        var Price = "<td><input name='Price' type='text'  value='' style='width: 100px'/></td>"
                        var button = "<td><button style='width:80px'>删除</button></td>"
                        var ii = 99999;
                        $(".ji").each(function (i) {
                            ii = i
                        })
                        var id = '<td  style="padding:5px" class="id">' + (Number(ii) + 2) + '</td>'
                        if (ii == 99999) {
                            $(".ftr").after("<tr class='ji'>" + id + ProductName + ProductSpec + Count + Units + Price + Money + Remarks + button + "</tr>")
                        } else {
                            $(".ji:eq(" + ii + ")").after("<tr class='ji'>" + id + ProductName + ProductSpec + Count + Units + Price + Money + Remarks + button + "</tr>");
                        }
                    }
                }
                function TabltKeyDown() {
                    if (event.keyCode == 13) {
                        if ($(this).parent().next().children().val() != undefined) {
                            $(this).parent().next().children().click();
                        } else {
                            $(this).parents("tr").next().find("input:eq(0)").click();
                        }
                    }
                    var index = $(this).parents("tr").children().index($(this).parents("td"))

                    if (event.keyCode == 38) {
                        $(this).parents("tr").prev().find("td:eq("+index+")").children().click()
                        $(this).parents("tr").prev().find("td:eq("+index+")").children().focus()
                    }
                    //下
                    if (event.keyCode == 40) {
                        $(this).parents("tr").next().find("td:eq("+index+")").children().click()
                        $(this).parents("tr").next().find("td:eq("+index+")").children().focus()
                    }
                    //左
                    if (event.keyCode == 37) {
                        $(this).parents("td").prev().children().click()
                        $(this).parents("td").prev().children().focus()
                    }
                    //右
                    if (event.keyCode == 39) {
                        $(this).parents("td").next().children().click()
                        $(this).parents("td").next().children().focus()
                    }
                }
                $("#myBtn").on('keydown', 'input', TabltKeyDown)
                $("#myBtn").on('click','.word', AppDiv)
                $("#myBtn").on('blur','div input', DivMofocus)
                $("#myBtn").on('click','button', ButtonClick)
                $("#myBtn").on('change', 'input', myBtn)
                $("#myBtn").on('keydown', keydown)
                var indexs
                $(document).ajaxStart(function () {
                    indexs = layer.msg("加载中", { icon: 16, time: false })
                })
                $(document).ajaxStop(function () {
                    layer.close(indexs);
                })
                var uploadExcel = function (files) {
                    try {
                        excel.importExcel(files, {
                            // 读取数据的同时梳理数据
                            fields: {
                                'id': 'A'
                                , 'ProductName': 'B'
                                , 'ProductSpec': 'C'
                                , 'Count': 'D'
                                , 'Units': 'E'
                                 , 'Price': 'F'
                                 , 'G': 'G'
                                 , 'H': 'H'
                                 , 'I': 'I'
                            }
                        }, function (data) {
                            console.log(data);
                            if (stu == 1) {
                                $('.ji').remove()
                                $(".ftr").after("<tr class='ji'></tr>")
                            }
                            layui.each(data[0]['key'], function (index, itme) {
                                if (index > 0) {
                                    var id = '<td  style="padding:5px" class="id">' + index + '</td>'
                                    var ProductName = "<td><div class='word' name='ProductName' style='width:300px'>" + $.trim(itme.ProductName) + "</div></td>"
                                    var ProductSpec = "<td><div class='word' name='ProductSpec' style='width:300px'>" + $.trim(itme.ProductSpec) + "</div></td>"
                                    var Units = "<td><input name='Units' type='text'  value='" + $.trim(itme.Units) + "' style='width: 50px'/></td>"
                                    var Count = "<td><input name='Count' type='text'  value='" + $.trim(itme.Count) + "' style='width: 50px'/></td>"
                                    var Remarks = "<td><input type='text'/></td>"
                                    var Money = "<td style='width: 50px'></td>"
                                    var Price = "<td><input name='Price' type='text'  value='￥" + $.trim(itme.Price) + "' style='width: 100px'/></td>"
                                    var button = "<td><button style='width:80px'>删除</button></td>"
                                    $('.ji:eq(' + (index - 1) + ')').after("<tr class='ji'>" + id + ProductName + ProductSpec + Count + Units + Price + Money + Remarks + button + "</tr>")
                                }

                            })
                            $('.ji:eq(0)').remove()
                            myBtn()
                        });
                    } catch (e) {
                    }
                };
                // 监听上传文件的事件
                $('#LAY-excel-import-excel').change(function (e) {
                    var files = e.target.files;
                    uploadExcel(files);
                });
                // 文件拖拽
                $('body').ondragover = function (e) {
                    e.preventDefault();
                }
                $('body').ondrop = function (e) {
                    e.preventDefault();
                    var files = ev.dataTransfer.files;
                    uploadExcel(files);
                }
                upload.render({
                    elem: '#test1'
                    ,auto: false
   , url: '/ProductionPlanning/upload/'
   , bindAction: '#testListAction'
  , done: function (res, index, upload) { //上传后的回调
      add(res.data.src);
  }
                    ,accept: 'file' //允许上传的文件类型
                    ,size: 0 //最大允许上传的文件大小
                    //,……
                })
                $("#testListAction").click(function () {
                    if ($(".layui-upload-choose").text() == "") {
                  //    alert("还没有选择文件")
                        add("//")
                    }
                })
                if (ContractDetialsCheckId != "0") {
                    stu = 1;
                    $.ajax({
                        url: '/Home/checkDetaill',
                        data: { id: ContractDetialsCheckId },
                        type: "get",
                        dataType: "json",
                        success: function (data) {

                            if (data.length > 0) {
                                $('.ji').remove()
                                $(".ftr").after("<tr class='ji'></tr>")
                                layui.each(data, function (index, itme) {
                                    var id = '<td  style="padding:5px" class="id">' + Number(index + 1) + '</td>'
                                    var ProductName = "<td><div class='word' name='ProductName' style='width:300px'>" + $.trim(itme.ProductName) + "</div></td>"
                                    var ProductSpec = "<td><div class='word' name='ProductSpec' style='width:300px'>" + $.trim(itme.ProductSpec) + "</div></td>"
                                    var Units = "<td><input name='Units' type='text'  value='" + $.trim(itme.Units) + "' style='width: 50px'/></td>"
                                    var Count = "<td><input name='Count' type='text'  value='" + $.trim(itme.Count) + "' style='width: 50px'/></td>"
                                    var Remarks = "<td><input type='text'/></td>"
                                    var Money = "<td style='width: 50px'></td>"
                                    var Price = "<td><input name='Price' type='text'  value='￥" + $.trim(itme.Price) + "' style='width: 100px'/></td>"
                                    var button = "<td><button style='width:80px'>删除</button></td>"
                                    $('.ji:eq(' + index + ')').after("<tr class='ji'>" + id + ProductName + ProductSpec + Count + Units + Price + Money + Remarks + button + "</tr>")
                                })
                                $('.ji:eq(0)').remove()

                            }
                            myBtn();
                        }
                    });
                }
            });
        })
        //function keydown(en) {
        //    var inputArray = new Array();
        //    $(".ji input").each(function (i) {
        //        $(".ji input:eq(" + i + ")").attr("id", i + "ji");
        //        inputArray[i] = $(".ji input:eq(" + i + ")")
        //    })
        //    if (event.keyCode == 13) {
        //        for (var index = 0; index < inputArray.length; index++) {

        //            if ($(en).attr("id") == inputArray[index].attr("id")) {
        //                if ((index + 1) == inputArray.length) {

        //                    $(en).parent().parent().next().children().next().next().children().focus();
        //                } else {
        //                    inputArray[(index + 1)].focus();
        //                }

        //            }

        //        }
        //    }

        //}
        $(function () {

            if (CustomerId != 0) {
                $.ajax({
                    url: "/ProductionPlanning/SelApplier",
                    data: { CustomerId: CustomerId },
                    type: "get",
                    async: false,
                    dataType: "json",
                    success: function (data) {

                        if (data != null) {
                            $("[name=Address]").val(data[0].Address);
                            $("[name=Tel]").val(data[0].Tel);
                            $("[name=Fax]").val(data[0].Fax);
                            $("[name=Representative]").val(data[0].Representative);
                            $("[name=Mobile]").val(data[0].Mobile);
                            $("[name=Account]").val(data[0].Account);
                            $("[name=Bank]").val(data[0].Bank);
                            $("[name=Contact]").val(data[0].Contact);
                            $("[name=Principal]").val(data[0].Principal);

                        }
                    }

                });

            }

            $.ajax({
                url: "/ProductionPlanning/CheckHtml",
                data: { cuid: CuId },
                type: "get",
                async: false,
                dataType: "json",
                success: function (data) {
                    if (data.length > 0) {
                        var html = data[0].html
                        window.document.body.innerHTML = html

                    }
                }
            })
            if (readoly == "2") {
                $('#testListAction').hide();
            }
            if ("@ViewData["CuNumber"]" == "0") {
                $("[name=ContractNumber]").val("YL" + y + (Number(m) + 1) + d + "00" +@Session["CCID"] +CuId);
            } else {
                $("[name=ContractNumber]").val("@ViewData["CuNumber"]");
            }
            $(":checkbox").click(function () {
                if ($(this).attr("checked") == "checked") {
                    $(this).removeAttr("checked", "checked")

                } else {
                    $(this).attr("checked", "checked")
                }

            })



            //$(":checkbox:eq(2)").click(function () {
            //    if ($(":checkbox:eq(1)").attr("checked") == "checked") {
            //        $(".zh").text("银行一")
            //        $(".yh").text("账号一")
            //    } else {
            //        $(".zh").text("银行二")
            //        $(".yh").text("账号二")
            //    }
            //})
            //$(".jia+li").hide();

            //$("#yf").change(function () {
            //    if ($("#yf").val() == 0) {
            //        $(".jia").show()
            //        $(".jia+li").hide();
            //    } else {
            //        $(".jia").hide();
            //        $(".jia+li").show();
            //    }
            //})

            $(".select").change(function () {
                var i = $(".select option:selected").val();
                $(".sele option:eq(" + i + ")").attr("selected", "selected");
                $(".select option:eq(" + i + ")").attr("selected", "selected");
                if (i == 0) {
                    $("table:nth-child(5) tr td span").text("杨厚德");
                    $("[name=ContractNumber]").val("YL" + y + (Number(m) + 1) + d + "00" +@Session["CCID"] +CuId);
                    if ($(".sele option:eq(" + (i + 1) + ")").attr("selected") == "selected") {
                        $(".sele option:eq(" + (i + 1) + ")").removeAttr("selected", "selected");
                    }
                    if ($(".select option:eq(" + (i + 1) + ")").attr("selected") == "selected") {
                        $(".select option:eq(" + (i + 1) + ")").removeAttr("selected", "selected");
                    }
                } else if (i == 1) {
                    $("table:nth-child(5) tr td span").text("刘扬珍");
                    $("[name=ContractNumber]").val("YLB" + y + (Number(m) + 1) + d + "00" +@Session["CCID"] +CuId)
                    if ($(".sele option:eq(" + (i - 1) + ")").attr("selected") == "selected") {
                        $(".sele option:eq(" + (i - 1) + ")").removeAttr("selected", "selected");
                    }
                    if ($(".select option:eq(" + (i - 1) + ")").attr("selected") == "selected") {
                        $(".select option:eq(" + (i - 1) + ")").removeAttr("selected", "selected");
                    }
                }
            })
            $("[name=CustomerName]").change(function () {

                $.ajax({
                    url: "/ProductionPlanning/SeList1",
                    data: { name: $(this).val() },
                    type: "get",
                    dataType: "json",
                    success: function (data) {
                        if (data.length > 0) {
                            $("[name=Address]").val(data[0].Address);
                            $("[name=Tel]").val(data[0].Tel);
                            $("[name=Fax]").val(data[0].Fax);
                            $("[name=Representative]").val(data[0].Representative);
                            $("[name=Mobile]").val(data[0].Mobile);
                            $("[name=Account]").val(data[0].Account);
                            $("[name=Bank]").val(data[0].Bank);
                            $("[name=Contact]").val(data[0].Contact);
                            $("[name=Principal]").val(data[0].Principal);

                        }
                    }

                })

            })
            $(".sele").change(function () {
                var i = $(".sele option:selected").val();
                $(".select option:eq(" + i + ")").attr("selected", "selected");
                $(".sele option:eq(" + i + ")").attr("selected", "selected");
                if (i == 0) {
                    $("table:nth-child(5) tr td span").text("杨厚德");
                    $("[name=ContractNumber]").val("YL" + y + (Number(m) + 1) + d + "00" +@Session["CCID"] +CuId);
                    if ($(".select option:eq(" + (i + 1) + ")").attr("selected") == "selected") {
                        $(".select option:eq(" + (i + 1) + ")").removeAttr("selected", "selected");
                    }
                    if ($(".sele option:eq(" + (i + 1) + ")").attr("selected") == "selected") {
                        $(".sele option:eq(" + (i + 1) + ")").removeAttr("selected", "selected");
                    }
                } else if (i == 1) {
                    $("table:nth-child(5) tr td span").text("刘扬珍");
                    $("[name=ContractNumber]").val("YLB" + y + (Number(m) + 1) + d + "00" +@Session["CCID"] +CuId)
                    if ($(".select option:eq(" + (i - 1) + ")").attr("selected") == "selected") {
                        $(".select option:eq(" + (i - 1) + ")").removeAttr("selected", "selected");
                    }
                    if ($(".sele option:eq(" + (i - 1) + ")").attr("selected") == "selected") {
                        $(".sele option:eq(" + (i - 1) + ")").removeAttr("selected", "selected");
                    }
                }
            })
            //INPUT自适应宽度
            @* $("table:eq(1) :input").change(function () {
                if ($("table:eq(1) :input").attr("class") == "ji") {

                }
                else{
                var len = $(this).val().length *16;
                if (len > 350) {
                    len=350
                }
                $(this).css("width", len + "px")
                }
            })*@
            $("ul :input[type=text]").change(function () {
                var len = $(this).val().length * 17;

                if (len < 80) {
                    $(this).css("width", "80px")
                } else {
                    $(this).css("width", len + "px")
                }

            });
            $(".su").change(function () {

                var shu = $(this).val();

                shu = parseFloat(shu) / 100;


                var nu = Number(shu) * Number($(".sui").val());
                $(this).next().text(nu.toFixed(2));

                $(this).next().next().text(Transform(nu.toFixed(2)));
            })


            $(".select2").change(function () {

                if ($(this).val() == 0) {
                    $(".zh").text("801101000478910212")
                } else if ($(this).val() == 1) { $(".zh").text("728968017298") }
                else if ($(this).val() == 2) { $(".zh").text("44488701040005617") }
                else if ($(this).val() == 3) { $(".zh").text("44050166734500000066") }
                else if ($(this).val() == 4) { $(".zh").text("06 2288 0002 5310") }
                $(this).find("option").removeAttr("selected")
                $(this).find("option:eq(" + $(this).val() + ")").attr("selected", "selected")
            })
            $(".jayi").change(function () {
                $(this).find("option").removeAttr("selected")
                $(this).find("option:eq(" + $(this).val() + ")").attr("selected", "selected")
            })
            $("ul [type=text]").keydown(function (e) {
                if (e.keyCode == 13) {
                    if ($(this).next.val() != undefined) {
                        $(this).next().focus();
                    } else if ($(this).parents("p").next().find("input:eq(0)").val()) {
                        $(this).parents("p").next().find("input:eq(0)").focus();
                    }
                    else {
                        $(this).parents("li").next().find("input:eq(0)").focus();
                    }
                }
            })
            $(".bom:eq(0)").keydown(function (e) {
                if (e.keyCode == 13) {

                    $(".ji input:eq(0)").focus();
                }
            })
            $(".bom:eq(1)").keydown(function (e) {
                if (e.keyCode == 13) {

                    $("ul [type = text]:eq(0)").focus();
                }
            })
            $(".bom:eq(2)").keydown(function (e) {
                if (e.keyCode == 13) {

                    $("#adss").focus();
                }
            })
            $(".tab input[name]").change(function () {
                var name = $(this).attr("name")
                $(".tab input[name=" + name + "]").val($(this).val())
            })
        })
    </script>
    <script type="text/javascript">
        function printCss() {


            $(".layui-form-item").hide()
            $("p input").each(function (i) {
                if ($("p input:eq(" + i + ")").val() == 0) {
                    $($("p input:eq(" + i + ")")).parent().hide();
                }
            })
            $("button").parent().hide();
            $(".hide").hide();
            $("#sas").hide();
            $("td").css("border","2px solid #000");
            $("th:nth-child(8)").hide();
            $(".l").each(function (i) {
                if (Number($(".l:eq(" + i + ") input").val()) == 0) {

                    $(".l:eq(" + i + ")").parent().hide();
                }
                if ($(".l:eq(" + i + ") input").val() == undefined) {
                    if ($(".l:eq(" + i + ")").text() == 0 || $(".l:eq(" + i + ")").text() == "") {

                        $(".l:eq(" + i + ")").parent().hide();

                    }
                }
            })
            $(":checkbox").each(function () {

                if ($(this).attr("checked") == "checked") {

                    $(this).parent().parent().show()
                } else {
                    $(this).parent().parent().hide()
                }
            })
            $(":checkbox").hide();
            if ($(".pp").children().val() == "") {
                $(".pp").hide();
            }
            bdhtml = window.document.body.innerHTML;
            sprnstr = "<!--startprint-->";
            eprnstr = "<!--endprint-->";
            prnhtml = bdhtml.substring(bdhtml.indexOf(sprnstr) + 17);
            prnhtml = prnhtml.substring(0, prnhtml.indexOf(eprnstr));

        }
        function doPrint() {
            if (stu == 0) { layer.msg("请先保存") } else {
                var CuNumber = $("[name=ContractNumber").val();
                var inp = new Array();

                var inn = 0;

                $(":input").each(function (i) {
                    var inq = $(":input:eq(" + i + ")").val()

                    $(":input:eq(" + i + ")").attr("value", inq);

                    if ($(":input:eq(" + i + ")").val() == 0) {
                        if ($(":input:eq(" + i + ")").attr("type") == "text") {
                            inp[inn] = $(":input:eq(" + i + ")");
                            inn++;
                        }
                    }
                })
                var len = inp.length;

                layer.confirm('有' + len + '未填项确定打印吗', {
                    btn: ['确定', '取消']
                    , yes: function () {
                        var HtmlText = null;

                        $.ajax({
                            url: "/ProductionPlanning/SeleHtml",
                            data: { CuId: CuId },
                            type: "get",
                            async: false,
                            dataType: "json",
                            success: function (data) {
                                if (data.length > 0) {
                                    HtmlText = data[0].html;
                                }
                            }
                        })

                        if (HtmlText == null) {
                            printCss();
                            HtmlText = prnhtml;

                            $.ajax({
                                url: "/ProductionPlanning/SaveUpHtml?Type=adda&CuNumber=" + CuNumber,
                                type: "post",
                                data: { "HtmlText": HtmlText, CuId: CuId, ids: ContractDetialsCheckId },
                                dataType: "text",
                                success: function (data) {
                                    if (data == "true") {
                                        window.document.body.innerHTML = HtmlText;
                                        window.print();
                                    } else {
                                        layer.msg("未知错误")
                                    }

                                }
                            })
                        } else {
                            layer.confirm('存在历史打印记录,是否使用历史打印或覆盖历史打印', {
                                btn: ['使用历史打印', '使用新打印并覆盖历史打印', '取消'] //可以无限个按钮
                                , btn3: function () {

                                }
                            }, function () {
                                window.document.body.innerHTML = HtmlText;
                                window.print();
                            }, function () {
                                printCss();
                                HtmlText = prnhtml;

                                $.ajax({
                                    url: "/ProductionPlanning/SaveUpHtml?Type=up",
                                    type: "post",
                                    data: {
                                        HtmlText: HtmlText, CuNumber: CuNumber, CuId: CuId, ids: ContractDetialsCheckId
                                    },
                                    dataType: "text",
                                    success: function (data) {
                                        if (data == "true") {
                                            window.document.body.innerHTML = HtmlText;

                                            window.print();
                                        } else {
                                            layer.msg("未知错误")
                                        }
                                    }
                                })
                            });

                        }
                    }, btn2: function () {
                        if (len != 0) {
                            var ainp = inp[0];
                            ainp.focus();
                        }
                    }
                })

            }
        }
    </script>

</head>

<body>
    <!--startprint-->
    <div style="margin:0px auto;text-align:center"><h1>销售合同</h1></div>
    <table class="tab" style="width:90%;">
        <tr>
            <td style="border:0px"></td>
            <td style="border:0px"><div style="margin-left:100px;text-align:right;"><label>合同编号：</label><input type="text" style="border:0;width:250px" name="ContractNumber" /></div></td>
        </tr>
        <tr>
            <td>
                <label style="width:150px;">需方（甲方）：</label> <input type="text" style="width:420px;" value=@ViewData["CuName"] name="CustomerName" placeholder="甲方" list="mylist1" onkeyup="search1(this)" />
                <datalist id="mylist1"></datalist>
            </td>
            <td>
                <label style="width:150px">供方（乙方）：</label>
                <select class="select">
                    <option value="0">广东友力智能科技有限公司</option>
                    <option value="1">佛山市顺德区友力帮机械有限公司</option>
                </select>
            </td>
        </tr>
        <tr>
            <td>
                <label>地址：</label>
                <input type="text" style="width:420px;" id="txt" name="Address" placeholder="地址" list="mylist1" onkeyup="search1(this)" />
                <datalist id="mylist1"></datalist>
            </td>
            <td><label>地址：</label>广东省佛山市顺德区杏坛镇逢简工业区横二路1号</td>
        </tr>
        <tr>
            <td>
                <label>电话：</label><input type='text' style="width:420px;" id="txt" name="Tel" placeholder="电话" list="mylist1" onkeyup="search1(this)" />
                <datalist id="mylist1"></datalist>
            </td>
            <td><label>电话：</label>0757-29977100</td>
        </tr>
        <tr>
            <td>
                <label>传真：</label><input type="text" style="width:420px;" id="txt" name="Fax" placeholder="传真" list="mylist1" onkeyup="search1(this)" />
                <datalist id="mylist1"></datalist>
            </td>
            <td><label>传真：</label>0757-29977102</td>
        </tr>
        <tr>
            <td>
                <label>联系人：</label>
                <input type="text" style="width:420px;" id="txt" name="Contact" placeholder="" list="mylist1" onkeyup="search1(this)" />
                <datalist id="mylist1"></datalist>
            </td>
            <td><label>联系人：</label><input type="text" style="width:420px;" class="bom" name="Contact1" /></td>
        </tr>
    </table>
    <ul>
        <li style="margin-left:10px"><p>一、货物名称及型号规格、数量、单价、金额：</p></li>
    </ul>
    <div class="layui-form-item">
        <div class="layui-form-label">导入Excel</div>
        <div class="layui-form-block">
            <input type="file" class="layui-btn layui-btn-primary" id="LAY-excel-import-excel" multiple="multiple" />
        </div>
    </div>
    <div>
        <button type="button" class="layui-btn divdiv" id="test1" name="TaskLevel" style="margin-left:10px;">
            <i class="layui-icon">&#xe67c;</i>上传文件
        </button>
    </div>
    @*<div class="divdiv" style="margin-left:20px;">
            <input type="file" name="TaskLevel" id="file" />
        </div>*@
    <table style="width:90%;" class="Product" id="myBtn">
        <tr class="ftr">
            <th><label>序号</label></th>
            <th><label>产品名称</label></th>
            <th><label>规格</label></th>
            <th><label>数量</label></th>
            <th><label>单位</label></th>
            <th><label>单价</label></th>
            <th><label>金额</label></th>
            <th><label>备注</label></th>
            <th class="hide"><label>操作</label></th>

        </tr>
        <tr class="ji">

            <td style="padding:5px" class="id">1</td>
            <td><div class='word' name='ProductName' style='width:300px'>空</div></td>

            <td><div class='word' name='ProductSpec' style='width:300px'>空</div></td>
            <td><input name='Count' type='text' value='' style='width: 50px' /></td>
            <td><input name='Units' type='text' value='' style='width: 50px' /></td>
            <td><input name='Price' type='text' value='' style='width: 100px' /></td>
            <td style='width: 50px'></td>
            <td><input type='text' /></td>
            <td><button style='width:80px'>删除</button></td>
        </tr>
        <tr class="Money">
            <td colspan="6">出厂产品合计金额: </td>
            <td>@ViewData["Money"]</td>
            <td><input type="text" class="sss" /></td>
        </tr>

        <tr>
            <td colspan="6">运费</td>
            <td class="l"><input type='text' class="sss" /></td>
            <td><input type='text' class="sss" /></td>
        </tr>
        <tr>
            <td colspan="6">安装费(派多名工程师安装)</td>
            <td class="l"><input type='text' class="sss" id="yf" /></td>
            <td><input type="text" class="sss" /></td>
        </tr>
        <tr>

            <td colspan="6"><input type="checkbox" style="margin-left:-80px" />税前价合计:</td>
            <td class="l"></td>
            <td><input type="text" class="sss" /></td>
        </tr>
        <tr>
            <td colspan="6"><input type="checkbox" style="margin-left:-100px" />税额16%</td>
            <td class="l"><input type='text' style="display:inline-block;width:100px;margin-left:10px" /></td>
            <td><input type='text' class="sss" /></td>
        </tr>
        <tr>
            <td colspan="6"><input type="checkbox" style="margin-left:-80px" />税后价合计:</td>
            <td class="l"></td>
            <td><input type='text' class="sss" /></td>
        </tr>
        <tr>
            <td colspan="6"><input type="checkbox" style="margin-left:-65px" />优惠后价合计:</td>
            <td class="l"><input type="text" class="sss sui" name="Money" /></td>
            <td><input type='text' class="sss bom" /></td>
        </tr>
    </table>
    <div class="divdiv">
        <ul style="margin-left:10px;width:1350px;">
            <li style="width:1050px">
                <p style="width:1050px;">说明：<input type="text" style="width:800px" />,不含报价之外的部分。</p>
            </li>
            <li>
                <p>二、付款方式：</p>
            </li>
            <li>
                <p>1、合同签定之日起7日内,甲方需向乙方支付定金即合同总价款<input type='text' class="su" />%,即人民币:<span name="DepositAmount"></span>；<span></span>。</p>
                <p>2、交货期前三天乙方通知甲方支付发货款：合同总价款<input type='text' class="su" />%,即人民币:<span name="DeliveryAmount"></span>；<span></span>。</p>
                <p>3、自货物到达甲方指定地点,乙方安装人员到厂安装好,设备调试前,甲方向乙方支付安装调试款：合同总价款的<input type='text' class="su" />%,即人民币:<span name="InstallationAmount">；</span>；<span></span>。</p>
                <p>4、设备安装调试完成并经甲方验收合格之日起3个工作日内,甲方向乙方支付验收款：合同总价款的<input type='text' class="su" />%,即人民币:<span name="AcceptanceAmount"></span>；<span></span>。</p>
                <p>5、设备保修期满3个工作日内,甲方向乙方支付质保金款：合同总价款金额的<input type='text' class="su" />%,即人民币:<span name="QualityAssuranceAmount"></span>；<span></span>。</p>
            </li>
            <li><p><input type="checkbox" />说明：应甲方要求,需在付款前开具发票的,发票不作为收款依据,以乙方指定银行账户实际到账为准。</p></li>
            <li>
                <p>三、设备及货物交货时间：<span>自定金到账日起<input type='text' />日内完成出厂前的检验,</span><span>自发货款到账日起<input type='text' />日内（国家法定节假日顺延）货物交付清,</span><span>自安装调试款到账日起<input type='text' />日内完成设备运行调试,</span>如货款拖延则交货期、设备调试期顺延；因设计变更、运输途中各种无法预测的因素或不可抗力的因素可顺延交期。</p>
            </li>
            <li>
                <p>四、包装、运输、收货地址、装卸和收货</p>
            </li>
            <li>
                <p>1、包装方式：乙方满足设备及货物运输例行简易包装；如甲方对商品包装有特殊要求,双方应在合同中注明,所增加的包装费用,由甲方承担。</p>
            </li>
            <li>
                <p>2、运输：由  <select class="jayi"><option value="0">甲</option><option value="1">乙</option></select>  方负责运输并承担运输及保险相关费用。</p>
            </li>
            <li>
                <p style="width:500px"><label>3、收货地址:<input type="text" style="width:400px" /></label></p>
            </li>
            <li>
                <p>4、装卸：设备送到甲方指定收货地址后,由甲方负责卸货到安装现场,卸货费由甲方承担。</p>
            </li>
            <li>
                <p>5、收货：甲方在收到货物时在乙方送货单上签字并盖章,甲方另出具货物收货单给乙方。</p>
            </li>
            <li>
                <p>五、安装调试：</p>

            </li>
            <li class="jia">
                <p> <input type="checkbox" />1、甲方自行负责安装调试</p>
            </li>
            <li>
                <p> <input type="checkbox" />1、甲方需在乙方货物到达前清理好安装现场,确保安装现场具备安装条件：如场地安全、场地卫生、动力气源、动力电源等；如因甲方安装现场条件不具备,则安装调试期顺延；并提供或协助解决乙方安装人员食宿问题。</p>

                <p>2、乙方负责安装,乙方依据双方确定安装规划布局图进行一次性安装调试。乙方在调试过程中负责对甲方的设备使用人员、设备维修人员进行设备操作、日常维护、保养等问题进行培训。</p>

                <p>3、安装完成后,如甲方提出更改安装的,需要双方协议后重新确定安装规划布局图,甲方需另行支付安装费用给乙方。</p>

                <p>4、安装过程中,乙方安装人员客观原因造成工伤事故,相关工伤产生的费用由甲乙双方各承担50%。</p>
                <p>5、如甲方在设备安装调试完成三天之内无确认设备验收单,又无提出书面异议,视甲方默认合同内产品验收合格；</p>

                <p>6、如因甲方未按期支付货款,导致乙方安装工作人员撤退,需再次安排到现场设备调试工作的,甲方需承担乙方安装调试人员的人工费和差旅费等。</p>

            </li>
            <li>
                <p>六、货物验收标准：</p>

            </li>
            <li>
                <p>1、按本合同技术参数标准验收（外观尺寸仅供参考)；</p>

            </li>
            <li>
                <p>2、设备使用效果符合技术协议；</p>

            </li>
            <li>
                <p>
                    3、货物安装调试完成三天内,甲方须组织相关人员对设备及货物进行验收；如甲方对设备及货物品质有异议,应在设备及货物安装调完成之日起三天内向乙方提出书面异议,
                    甲方提出的书面异议中,应列明合同编号、运输车辆、到货日期、接货人姓名,说明不符合要求的产品名称、型号、规格、数量、检验方法、检验证明,提出不符合要求的处理意见,以及双方商定的必须说明事项,由双方协商解决；如甲方未按约定期限(安装调试完成三天内)提出书面异议的或超过三天甲方仍不对该设备及货物进行验收,则视为甲方对该设备及货物验收合格；
                </p>

            </li>
            <li>
                <p>4、乙方根据甲方要求定制生产的非标产品,甲乙双方共同承担非标生产开发风险,非标产品需由双方提前确定技术协议,一经确定不得修改,如甲方提出确需修改时,乙方若已按前期技术资料投入生产,此投入部分成本需由甲方承担；定制非标产品要求甲方不得中途终止合同,不得随意拒绝收货或退货,如果设备及货物不符合双方确定的技术要求,乙方负责产品的维护和更换。</p>

            </li>
            <li>
                <p>七、质量保证和售后服务的承诺：</p>

            </li>

            <li>
                <p>1、本合同设备自安装调试完成之日起保修期为壹年,在保修期内属于产品质量问题,由乙方负责维修并免收任何费用。在保修期内设备运行如出现故障,接到甲方的书面通知起在24小时内（非节假日）做出回应；在保修期内如因甲方非正确操作、拆移安装、维修保养及电压不稳定、压缩空气中有水、杂油、杂质等或自然灾害等情况造成设备损坏的,不属于保修范围内；但乙方对出厂产品承诺终身维护；</p>

            </li>
            <li>
                <p>2、乙方保证设备的设计和制造与报价时的产品技术参数相符；</p>

            </li>
            <li>
                <p>3、保修期外,乙方对设备的售后服务另收取维护费用。</p>

            </li>
            <li>
                <p>八、合同附件：乙方提供的分项报价单和相关技术参数、图纸资料均作为合同附件与合同具有同等法律效力,如与主合同不相符时,则以主合同为准；合同传真件具有同等法律效力。</p>

            </li>
            <li>
                <p>九、违约责任：</p>

            </li>
            <li name="ConditionsOfbreachOfContract">
                <p>1、在合同履行期间,乙方延期交货,除双方协商同意免责外,乙方按每日合同总价款<input type='text' value="1" />‰支付违约金给甲方,违约金累计金额不超过合同金额的10%；</p>
                <p>2、在合同履行期间,甲方延期付款,除双方协商同意免责外,甲方按每日合同总价款<input type='text' class="bom" value="1" />‰支付违约金给乙方；</p>
                <p>3、如甲方不能按期付款,除承担以上违约责任以外,并且未付款合同内货物权属归乙方所有。</p>
                <p>4、甲方在合同约定时间内未付清货款或定金款的,乙方有权选择解除合同或停止交货。</p>
                <p>5、甲方无正当理由单方解除合同的,由此给乙方造成的全部经济损失应由甲方赔偿给乙方,已支付的定金无权要求返还。</p>
            </li>
            <li>
                <p>十、知识产权：</p>

            </li>
            <li>
                <p>1、乙方应保证甲方在使用本合同项下的货物免受第三方侵犯其知识产权、商标权或工业设计权的起诉；</p>

            </li>
            <li>
                <p>2、甲方不对乙方的货物的商标、专利是否侵犯他人的权利负责,如因乙方提供货物引发争议或违法导致甲方受损的,乙方应赔偿；</p>

            </li>
            <li>
                <p>十一、保密条款：</p>

            </li>
            <li>
                <p>1、双方从对方获取的资料和相关的商业秘密进行保密,未经信息披露方书面事先同意,双方均不得将本合同中的内容及在本合同执行过程中获得的对方的商业信息向任何第三方泄露。</p>

            </li>
            <li>
                <p>2、本保密义务在本合同期满、解除或终止后仍然有效。</p>

            </li>
            <li>
                <p>十二、不可抗力：本合同任何一方对因不可抗力事件造成延迟履行或无法履行合同约定义务的,不承担责任。不可抗力依据中国法律解释。</p>


            </li>
            <li>
                <p>十三、争议解决：双方因订立、履行、变更、解除和终止本合同发生争议而协商不成的,双方均可向乙方所在地的人民法院提起诉讼。</p>

            </li>
            <li>
                <p>十四、合同效力：本合同壹式叁份,甲方执壹份,乙方执贰份,本合同自双方签字盖章之日起生效,本合同的附件及其补充协议经双方签字盖章后均具有同等效力,甲乙双方应共同遵守执行。</p>

            </li>
        </ul>
        <table class="tab" style="width:90%;">
            <tr>
                <th><label>甲方</label></th>
                <th><label>乙方</label></th>
            </tr>
            <tr>
                <td>
                    <label style="width:150px;display:inline-block">单位名称（章）：</label>
                    <input type="text" style="width:400px;display:inline-block" id="txt" name="CustomerName" value="@ViewData["CuName"]" placeholder="单位名称" list="mylist1" onkeyup="search1(this)" />
                    <datalist id="mylist1"></datalist>

                </td>
                <td>
                    <label style="width:143px">单位名称（章）：</label>
                    <select class="sele">
                        <option value="0">广东友力智能科技有限公司</option>
                        <option value="1">佛山市顺德区友力帮机械有限公司</option>
                    </select>
                </td>
            </tr>
            <tr>
                <td>
                    <label>  单位地址：</label>
                    <input type="text" style="width:420px;" id="txt" name="Address" placeholder="单位地址" list="mylist1" onkeyup="search1(this)" />
                    <datalist id="mylist1"></datalist>

                </td>
                <td><label>单位地址：</label>广东省佛山市顺德区杏坛镇逢简工业区横二路1号</td>
            </tr>
            <tr>
                <td>
                    <label>委托代理人：</label>
                    <input type="text" style="width:420px;" id="txt" name="Principal" placeholder="委托代理人" list="mylist1" onkeyup="search1(this)" />
                    <datalist id="mylist1"></datalist>
                </td>
                <td><label>委托代理人：</label><input type="text" style="width:420px;" /></td>
            </tr>
            <tr>
                <td>
                    <label>电话：</label><input type="text" style="width:420px;" id="txt" name="Tel" placeholder="" list="mylist1" onkeyup="search1(this)" />
                    <datalist id="mylist1"></datalist>
                </td>
                <td><label>电话：</label>0757-29977100</td>

            </tr>
            <tr>
                <td>
                    <label>传真：</label>
                    <input type="text" id="txt" style="width:420px;" name="Fax" placeholder="" list="mylist1" onkeyup="search1(this)" />
                    <datalist id="mylist1"></datalist>

                </td>
                <td><label>传真：</label>0757-29977102</td>

            </tr>
            <tr>
                <td>
                    <label>联系人：</label>  <input type="text" style="width:420px;" id="txt" name="Contact" placeholder="" list="mylist1" onkeyup="search1(this)" />
                    <datalist id="mylist1"></datalist>
                </td>
                <td><label>联系人：</label><input type="text" style="width:420px;" name="Contact1" /></td>
            </tr>
            <tr>
                <td>
                    <label>手机：</label>
                    <input type="text" style="width:420px;" id="txt" name="Mobile" placeholder="" list="mylist1" onkeyup="search1(this)" />
                    <datalist id="mylist1"></datalist>

                </td>
                <td><label>手机：</label><input type="text" style="width:420px;" /></td>
            </tr>
            <tr>
                <td>
                    <label>开户银行：</label>
                    <input type="text" style="width:420px;" id="txt" name="Bank" placeholder="" list="mylist1" onkeyup="search1(this)" />
                    <datalist id="mylist1"></datalist>

                </td>
                <td>
                    <label>开户银行：</label>
                    <select class="select2">
                        <option value="0">广东顺德农村商业银行股份有限公司杏坛金海分理处</option>
                        <option value="1">中国银行顺德杏龙支行</option>
                        <option value="2">中国农业银行股份有限公司顺德顺宝支行</option>
                        <option value="3">中国建设银行股份有限公司顺德杏坛支行</option>
                        <option value="4">佛山顺德农村商业银行勒流支行</option>
                    </select>
                </td>
            </tr>
            <tr>
                <td>
                    <label>账号：</label>
                    <input type="text" style="width:420px;" id="txt" name="Account" placeholder="" list="mylist1" onkeyup="search1(this)" />
                    <datalist id="mylist1"></datalist>
                </td>
                <td><label>帐号：</label><span class="zh">728968017298</span></td>
            </tr>
        </table>
    </div>
    <div style="margin:0px auto; text-align:center;font-size:20px;font-weight:bolder;" id="sas">
        <p>
            <a style="color:black;text-decoration:none" href="javascript:;" onclick="doPrint()">打印</a> &nbsp;&nbsp;<a style="color:black;text-decoration:none" href="javascript:;" id="testListAction">保存</a>
            &nbsp;&nbsp;<a style="color:black;" href="javascript:;" id="addnewc">新增合同</a>
        </p>
    </div>
    <!--endprint-->
    <script>

        var schoolList = new Array();
        $.ajax({
            url: "/ProductionPlanning/SeList",
            type: "get",
            async: false,
            dataType: "json",
            success: function (data) {
                for (var i = 0; i < data.length; i++) {
                    if (JSON.stringify(data[i].CustomerName) != "null" && data[i].CustomerName != "" && data[i].CustomerName != undefined) {

                        schoolList.push(data[i].CustomerName);

                    }
                    if (JSON.stringify(data[i].Mobile) != "null" && data[i].Mobile != "" && data[i].Mobile != undefined) {

                        schoolList.push(data[i].Mobile);

                    }
                    if (JSON.stringify(data[i].Name) != "null" && data[i].Name != "" && data[i].Name != undefined) {

                        schoolList.push(data[i].Name);

                    }
                    if (JSON.stringify(data[i].Contact) != "null" && data[i].Contact != "" && data[i].Contact != undefined) {

                        schoolList.push(data[i].Contact);


                    }
                    if (JSON.stringify(data[i].Fax) != "null" && data[i].Fax != "" && data[i].Fax != undefined) {

                        schoolList.push(data[i].Fax);

                    }
                    if (JSON.stringify(data[i].Tel) != "null" && data[i].Tel != "" && data[i].Tel != undefined) {

                        schoolList.push(data[i].Tel);

                    }
                    if (JSON.stringify(data[i].Principal) != "null" && data[i].Principal != "" && data[i].Principal != undefined) {

                        schoolList.push(data[i].Principal);

                    }
                    if (JSON.stringify(data[i].Representative) != "null" && data[i].Representative != "" && data[i].Representative != undefined) {

                        schoolList.push(data[i].Representative);

                    }
                    if (JSON.stringify(data[i].Address) != "null" && data[i].Address != "" && data[i].Address != undefined) {

                        schoolList.push(data[i].Address);


                    }
                }
            }
        })
        function search1(th) {
            $("#mylist1").empty();
            var tea_school = $(th).val();
            for (var i = 0; i < schoolList.length; i++) {

                if (tea_school != "" && schoolList[i].match(tea_school + ".*") != null) {
                    var option = "<option>" + schoolList[i] + "</option>";
                    $("#mylist1").append(option);
                }

            }
        }


        function Transform(number) {
            number = new String(parseFloat(number).toFixed(2));
            //分离整数与小数
            var num;
            var dig;
            if (number.indexOf(".") == -1) {
                num = number;
                dig = "";
            }
            else {
                num = number.substr(0, number.indexOf("."));
                dig = number.substr(number.indexOf(".") + 1, number.length);
            }
            //转换整数部分
            var i = 1;
            var len = num.length;
            var dw2 = new Array("", "万", "亿");//大单位
            var dw1 = new Array("拾", "佰", "千");//小单位
            var dw = new Array("", "壹", "贰", "叁", "肆", "伍", "陆", "柒", "捌", "玖");//整数部分用
            var dws = new Array("零", "壹", "贰", "叁", "肆", "伍", "陆", "柒", "捌", "玖");//小数部分用
            var k1 = 0;//计小单位
            var k2 = 0;//计大单位
            var str = "";
            for (i = 1; i <= len; i++) {
                var n = num.charAt(len - i);
                if (n == "0") {
                    if (k1 != 0)
                        str = str.substr(1, str.length - 1);

                    if (str.substr(0, 1) != "零" && str.substr(0, 1) != "万" && str.substr(0, 1) != "亿") {
                        str = "零" + str;
                    }
                }

                str = dw[Number(n)].concat(str);//加数字

                if (len - i - 1 >= 0)//在数字范围内
                {
                    if (k1 != 3)//加小单位
                    {
                        str = dw1[k1].concat(str);
                        k1++;
                    }
                    else//不加小单位,加大单位
                    {
                        k1 = 0;
                        var temp = str.charAt(0);
                        if (temp == "万" || temp == "亿")//若大单位前没有数字则舍去大单位
                            str = str.substr(1, str.length - 1);
                        str = dw2[k2].concat(str);
                    }
                }

                if (k1 == 3)//小单位到千则大单位进一
                {
                    k2++;
                }
            }
            if (str.substr(str.length - 1, str.length) == "零") {
                str = str.substr(0, str.length - 1);
            }
            //转换小数部分
            var strdig = "";
            if (Number(dig) == 0) {
                strdig = "整";
            }
            else {
                for (i = 0; i < 2; i++) {
                    var n = dig.charAt(i);
                    if (i == 0 && Number(n) == 0) {
                        strdig = "零"
                    }
                    else {
                        strdig += dws[Number(n)] + (i == 0 ? "角" : "分");//加数字
                    }
                }
            }
            str += "元" + strdig;
            return str;
        }

    </script>
</body>
</html>
