
@{
    Layout = null;


}

<!DOCTYPE HTML PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>

    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>友力信息管理系统</title>
    <script type="text/javascript" src="http://libs.baidu.com/jquery/1.8.3/jquery.min.js"></script>
    <link href="~/css/style.css" rel="stylesheet" type="text/css" />
    <link href="~/layui/css/layui.css" rel="stylesheet" />
    <script type="text/javascript" src="../../js/jquery.js"></script>
    <script src="~/layui/layui.js" type="text/javascript"></script>
    <style type="text/css">
      .layui-table-cell {
overflow: visible;
height: auto;
white-space: normal;
}
    </style>



    <script type="text/javascript">
        function admin_add(title, url, w, h) {
            layer_show(title, url, w, h);
        }
        $(function () {
            if ('@Session["name"]' == "") {
                window.top.location = '/Home/Login';
            }
            $("#cancle").click(function () {
                window.history.go(-1);
               //window.parent.document.getElementById("rightframe").src = "/Home/PM_ContractReceivablesMain";
            });
            $("#throung").click(function () {
                var bianhao = '@ViewData["CNumbers"]';
                if ('@ViewData["name"]' == "刘杨珍") {
                    $.ajax({
                        url: "/Home/EditStatus",
                        data: { bianhao: bianhao },
                        type: 'post',
                        success: function (data) {
                            if (data == "true") {
                                layer.msg("修改成功", { icon: 6 });
                                table.reload('twd');
                                table.reload('tw');
                            }
                            else if (data == "two") {
                                layer.msg("已经通过不用审批!", { icon: 6 });
                            }
                            if (data == "false") {
                                layer.msg('修改失败!', { icon: 5 });
                                return false;
                            }
                        }
                    });
                }
                else
                {
                    layer.msg("只有刘杨珍才有资格！");
                }
                
            });
            //$("#approved").click(function () {
              
            //    layer.confirm('是否收到定金！', {
            //        title: "友力提示", skin: "my-skin",
            //        btn: ['确定','取消'], btn1: function () {
            //            layer.closeAll();
            //            $.ajax({
            //                url: "/Home/EditStatus?bianhao=" + bianhao,
            //                type: 'post',
            //                success: function (data) {
            //                    if (data == "true") {
            //                        layer.msg("修改成功", { icon: 6 });
            //                        table.reload('twd');
            //                        table.reload('tw');
            //                    }
            //                    if (data == "false") {
            //                        layer.msg('修改失败!', { icon: 5 });
            //                        return false;
            //                    }
            //                }
            //            });
            //        }                   
            //    });
               
            //});
            $("#SendDelivery").click(function () {
                var bianhao = '@ViewData["CNumbers"]';
                layer.confirm('是否收到货款！', {
                    title: "友力提示", skin: "my-skin",
                    btn: ['确定', '取消'], btn1: function () {
                        layer.closeAll();
                        $.ajax({
                            url: "/Home/IfPayment",
                            data: { bianhao: bianhao },
                            type: 'post',
                            success: function (data) {
                                if (data == "true") {
                                    layer.msg("修改成功", { icon: 6 });
                                    table.reload('twd');
                                    table.reload('tw');
                                }
                                if (data == "two") {
                                    layer.msg("财务已审批合同通过！", { icon: 5 });
                                }
                                if (data == "false") {
                                    layer.msg('修改失败!', { icon: 5 });
                                    return false;
                                }
                            }
                        });
                    }
                });
            });
           
            layui.use(['table', 'layer'], function () {
                var table = layui.table, layer = layui.layer, form = layui.form;
  
                    table.render({
                        elem: '#tw'
                   , url: '/Home/Get_Datad?id=' + '@ViewData["Receivables"]'
                   , page: false
                   , limit: 1                
                   , height: 200
                        , cols: [[
                     { field: '', hide: true }
                   , { field: '合同金额', width: 200, title: '合同金额', sort: true }
                   , {
                       field: '已收金额', width: 180, title: '已收款金额',
                     }
                   , { field: 'NewAmountCollected', width: 180, title: '今收款金额', edit: Text, style: 'color: #009688' }
                   , { field: 'DateOfReceipt', width: 180, title: '收款时间', edit: Text, style: 'color: #009688' }
                   , { field: 'TicketOpeningAndDate', width: 150, title: '发票情况', edit: Text, style: 'color: #009688' }
                   , {
                       field: '收款类型', width: 150, title: '收款类型', templet: '#type'
                   }
                   , { field: '创建人', width: 150, title: '创建人' }
                   , { field: '创建时间', width: 150, title: '创建时间' }
                   , { field: 'right', width: 100, align: 'center', toolbar: '#barDemo' }
                   ]]

                    });
                var ty = null;
                var ts = null;           
                form.on('select(ty)', function (data) {
                    ty = data.value;
                });              
                table.on('tool(demo)', function (obj) {
                    var data = obj.data;
                    if (ty == null) {
                        ty = data.收款类型;
                        if (ty == '订单金额') {
                            ty = 1;
                        } else if (ty == '发货前金额') {
                            ty = 2;
                        } else if (ty == '安装前金额') {
                            ty = 3;
                        } else if (ty == '验收金额') {
                            ty = 4;
                        } else if (ty == '质保金额') {
                            ty = 5;
                        }
                    }
                    switch (obj.event) {                    
                        case 'update':
                            id = data.ContractID;
                            var newd = data.NewAmountCollected;
                            var dor = data.DateOfReceipt;
                            var TicketOpeningAndDate = data.TicketOpeningAndDate;
                            var cAmount = data.合同金额;
                            var cnum = data.ContractNumber;
                            var yi = data.已收金额;                         
                            if (ts == null) {
                                ts = data.收款类型;                              
                            }
                            if (ty == 1) {
                                $.ajax({
                                    url: "/Home/AddShouJiLu",
                                    type: 'post',
                                    data: { id: id, NewAmountCollected: newd, DateOfReceipt: dor, TicketOpeningAndDate: TicketOpeningAndDate, shou: ty},
                                    success: function (data) {
                                        if (data == "true") {
                                            window.setTimeout(function () {
                                                layer.msg("添加成功", { icon: 6 });
                                                $.ajax({
                                                    url: "/Home/Chane?he=" + id + "&cnum=" + cnum,
                                                    type: "post",
                                                    dataType: "text",
                                                    success: function (data) {
                                                        if (data == "true") {
                                                            layer.msg('收款金额已经足够，已通过可以生产！');
                                                            table.reload('twd');
                                                            table.reload('tw');
                                                        }
                                                        else {
                                                            layer.msg('订金还不够！');
                                                            table.reload('twd');
                                                            table.reload('tw');
                                                        }
                                                    }
                                                });
                                            }, 300);
                                        }
                                        if (data == "false") {
                                            layer.msg('数据操作异常!', { icon: 5 });
                                            return false;
                                        }
                                    }
                                });
                            } else
                            {
                                $.ajax({
                                    url: "/Home/AddShouJiLu",
                                    type: 'post',
                                    data: { id: id, NewAmountCollected: newd, DateOfReceipt: dor, TicketOpeningAndDate: TicketOpeningAndDate, shou: ty },
                                    success: function (data) {
                                        if (data == "true") {                                           
                                            layer.msg("添加成功", { icon: 6 });
                                            table.reload('twd');
                                            table.reload('tw');
                                        }
                                        if (data == "false") {
                                            layer.msg('数据操作异常!', { icon: 5 });
                                            return false;
                                        }
                                    }
                                });
                            }                          
                            break;                        
                    };
                });


            });
            layui.use(['table', 'layer'], function () {
                var table = layui.table, layer = layui.layer, form = layui.form;

                table.render({
                    elem: '#twd'
               , url: '/Home/Get_ReceivablesHistory?id=' + '@ViewData["Receivables"]'
               , page: false
                , height: 800
               , cols: [[
               { field: '', hide:true }
               , { field: '合同金额', width: 200, title: '合同金额', sort: true }
               , { field: 'NewAmountCollected', width: 180, title: '今收款金额', edit: Text,style: 'color: #009688' }
               , { field: 'DateOfReceipt', width: 180, title: '收款时间' }
                , { field: 'TicketOpeningAndDate', width: 150, title: '发票情况', edit: Text, style: 'color: #009688' }
                 , {
                     field: '收款类型', width: 150, title: '收款类型', templet: '#types'
                 }
                 , { field: '创建人', width: 150, title: '创建人' }
                 , { field: '创建时间', width: 150, title: '创建时间' }
               , { field: 'right', width: 150, align: 'center', toolbar: '#barDemod' }
               ]]

                });
                var twq = null;
                var tws = null;
                form.on('select(tys)', function (data) {
                    twq = data.value;
                });
                table.on('checkbox(demod)', function (obj) {
                    console.log(obj)
                });
                table.on('tool(demod)', function (obj) {
                    var data = obj.data;
                    if (twq == null) {
                        twq = data.收款类型;
                        if (twq == '订单金额') {
                            twq = 1;
                        } else if (ty == '发货前金额') {
                            twq = 2;
                        } else if (ty == '安装前金额') {
                            twq = 3;
                        } else if (ty == '验收金额') {
                            twq = 4;
                        } else if (ty == '质保金额') {
                            twq = 5;
                        }                     
                    }
                    switch (obj.event) {
                        case 'update':
                            id = data.ID;
                            cid = data.ContractID;
                            newd= data.NewAmountCollected;
                            dateRec = data.DateOfReceipt;
                            ticket = data.TicketOpeningAndDate;

                            $.ajax({
                                url: "/Home/XiuShouJilu",
                                type: 'post',
                                async: true,
                                data: { "cid": id, "ContractID": cid, "NewA": newd, "Dtr": dateRec, "Ticket": ticket, "jine": twq },
                                success: function (data) {
                                    if (data == "true") {
                                        layer.msg("修改成功", { icon: 6 });
                                        $.ajax({
                                            url: "/Home/Chane?he=" + id + "&cnum=" + cnum,
                                            type: "post",
                                            dataType: "text",
                                            success: function (data) {
                                                if (data == "true") {
                                                    layer.msg('收款金额已经足够,已通过可以生产！');
                                                    table.reload('twd');
                                                    table.reload('tw');
                                                }
                                                else {
                                                    layer.msg('订金还不够！');
                                                    table.reload('twd');
                                                    table.reload('tw');
                                                }
                                            }
                                        });
                                        table.reload('twd');
                                        table.reload('tw');
                                    }
                                    if (data == "false") {
                                        layer.msg('数据操作异常!', { icon: 5 });
                                        return false;
                                    }
                                }
                            });                        
                            break;
                        case 'delete':
                            id = data.ID;
                            ContractID = data.ContractID;
                            layer.confirm("真的删除行么", function (index) {
                                $.ajax({
                                    url: "/Home/DeleteShouJiLu",
                                    type: 'post',
                                    async: true,
                                    data: { "id": id, "ContractID": ContractID },
                                    success: function (data) {
                                        if (data == "true") {
                                            layer.msg("删除成功", { icon: 6 });
                                            $.ajax({
                                                url: "/Home/Chane?he=" + ContractID,
                                                type: "post",
                                                dataType: "text",
                                                success: function (data) {
                                                    if (data == "true") {
                                                        layer.msg('收款金额已经足够,已通过可以生产！');
                                                        table.reload('twd');
                                                        table.reload('tw');
                                                    }
                                                    else {
                                                        layer.msg('订金还不够！');
                                                        table.reload('twd');
                                                        table.reload('tw');
                                                    }
                                                }
                                            });
                                            table.reload('twd');
                                            table.reload('tw');
                                        }
                                        if (data == "false") {
                                            layer.msg('数据操作异常!', { icon: 5 });
                                            return false;
                                        }
                                    }
                                });
                            });                          
                            break;
                     
                    };
                });           
            });
        })
    </script>  
    <script type="text/html" id="type">
        @Html.DropDownList("ty", new SelectList(ViewBag.ty, "id", "Pname"), "{{d.收款类型}}", new { @class = "ty", @ID = "ty", @lay_filter = "ty" })
    </script>
    <script type="text/html" id="types">
        @Html.DropDownList("tys", new SelectList(ViewBag.tys, "id", "Pname"), "{{d.收款类型}}", new { @class = "tys", @ID = "tys", @lay_filter = "tys" })
    </script>
    <script type="text/html" id="barDemo">
        <a class="layui-btn layui-btn-xs" id="edit" lay-event="update">新增</a>   
    </script>
    <script type="text/html" id="barDemod">
        <a class="layui-btn layui-btn-xs" id="edit" lay-event="update">编辑</a>
        <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="delete" id="detelete">删除</a>
    </script>

</head>


<body>

    <div class="place">
        <span>位置：</span>
        <ul class="placeul">
            <li><a href="#">首页</a></li>
            <li><a href="#">销售管理</a></li>
            <li><a href="#">销售合同收款</a></li>
            <li><a href="#">收款情况</a></li>
        </ul>
    </div>
    <label style="font-size:20px;color:green">客户名称：(@ViewData["CNames"])</label>&nbsp;&nbsp;&nbsp;
    <label style="font-size:20px;color:green">合同编码：(@ViewData["CNumbers"])</label>
    <div class="rightinfo">

        <div class="tools">

            <ul class="toolbar">
                @*<li class="ads" id="addC">
                    <span>
                        <img src="../../images/t01.png" />
                    </span><a target="rightFrame" href="javascript:;" onclick="admin_add('新增收款目录', '/Home/ShouKuangAdd?CNumbers=@ViewData["CNumbers"]', '800', '500')">新增收款情况</a>@*<i hidden=hidden id="u">/Home/ContractAdd</i>
                </li>*@
                <li class="click" id="cancle">                             
                    <span>
                        <img src="../../images/t02.png" />
                    </span>返回
                </li>
                @*<li class="click" id="approved">
                    <span>
                        <img src="../../images/t04.png" />
                    </span>收到订金可生产
                </li>*@
                <li class="click" id="SendDelivery">
                    <span>
                        <img src="../../images/t04.png" />
                    </span>收到提货款可发货
                </li>
                <li class="click" id="throung">
                    <span>
                        <img src="../../images/t04.png" />
                    </span>经理审批可生产
                </li>
            </ul>
          
        </div>


       

    </div>
    <table class="tablelist" id="tw" lay-filter="demo"></table>
    <h2 style="color:blue">收款明细</h2>
    <table class="tablelist" id="twd" lay-filter="demod"></table>
    <script type="text/javascript" src="~/lib/jquery/1.9.1/jquery.min.js"></script>
    <script type="text/javascript" src="~/lib/layer/2.4/layer.js"></script>
    <script type="text/javascript" src="~/static/h-ui/js/H-ui.min.js"></script>
    <script type="text/javascript" src="~/static/h-ui.admin/js/H-ui.admin.js"></script>
    <script type="text/javascript" src="~/lib/laypage/1.2/laypage.js"></script>
    <script type="text/javascript">
            function admin_add(title, url, w, h) {
                layer_show(title, url, w, h);
            }
    </script>
    <script type="text/javascript">
        $('.tablelist tbody tr:odd').addClass('odd');
    </script>
</body>
</html>
