<!--_meta 作为公共模版分离出去-->
<!DOCTYPE html>
<html>
<head>
    <!--_footer 作为公共模版分离出去-->
    <script type="text/javascript" src="~/lib/jquery/1.9.1/jquery.min.js"></script>
    <script type="text/javascript" src="~/lib/layer/2.4/layer.js"></script>
    <!--请在下方写此页面业务相关的脚本-->
    <script src="~/layui/layui.js" type="text/javascript"></script>
    <link href="~/layui/css/layui.css" rel="stylesheet" />
    <script src="~/Scripts/jquery.form.js" type="text/javascript"></script>
    <link rel="stylesheet" type="text/css" href="~/static/h-ui/css/H-ui.min.css" />
    <link rel="stylesheet" type="text/css" href="~/static/h-ui.admin/css/H-ui.admin.css" />
    <link rel="stylesheet" type="text/css" href="~/static/h-ui.admin/css/style.css" />

    <title></title>
</head>
<body>

    <article class="page-container">
        <form class="form form-horizontal layui-form" id="form-article-add">
            <div class="row cl">
                <label class="form-label col-xs-4 col-sm-2"><span class="c-red">*</span>项目名称：</label>
                <div class="formControls col-xs-8 col-sm-9">
                    <input type="text" class="input-text" value="@ViewData["PojectName"]" readonly="readonly" placeholder="" id="PojectName" name="PojectName">
                </div>
            </div>
            <div class="row cl">
                <label class="form-label col-xs-4 col-sm-2"><span class="c-red">*</span>任务状态：</label>
                <div class="formControls col-xs-8 col-sm-9">
                    <input type="text" class="input-text" value="@ViewData["Status"]" readonly="readonly" placeholder="" id="Status" name="Status">
                </div>
            </div>
            <div class="row cl">
                <label class="form-label col-xs-4 col-sm-2"><span class="c-red">*</span>机械/电气：</label>
                <div class="formControls col-xs-8 col-sm-9">
                    <input type="text" class="input-text" value="@ViewData["ifDrive"]" readonly="readonly" placeholder="" id="ifDrive" name="ifDrive">
                </div>
            </div>
            <div class="row cl">
                <label class="form-label col-xs-4 col-sm-2"><span class="c-red">*</span>任务类型：</label>
                <div class="formControls col-xs-8 col-sm-9">
                    <span class="select-box">
                        <select name="select" class="select" id="select" disabled="disabled">
                            <option value="标准">标准</option>
                            <option value="非标">非标</option>
                            <option value="新产品">新产品</option>
                            <option value="外协外购">外协外购</option>
                        </select>
                    </span>
                </div>
            </div>
            <div class="row cl">
                <label class="form-label col-xs-4 col-sm-2"><span class="c-red">*</span>任务名称：</label>
                <div class="formControls col-xs-8 col-sm-9">
                    <input type="text" class="input-text" value="@ViewData["TaskName"]" placeholder="" readonly="readonly" id="TaskName" name="TaskName">
                </div>
            </div>
            <div class="row cl">
                <label class="form-label col-xs-4 col-sm-2"><span class="c-red">*</span>紧急程度：</label>
                <div class="formControls col-xs-8 col-sm-9">
                    <input type="text" class="input-text" value="@ViewData["PriorityCode"]" style="border:1px solid #4cff00;" placeholder="" id="PriorityCode" name="PriorityCode">
                </div>
            </div>
            <div class="row cl">
                <label class="form-label col-xs-4 col-sm-2"><span class="c-red">*</span>产品规格：</label>
                <div class="formControls col-xs-8 col-sm-9">
                    <input type="text" class="input-text" value="@ViewData["ProductSpec"]" placeholder="" style="border:1px solid #4cff00;" id="ProductSpec" name="ProductSpec">
                </div>
            </div>
            <div class="row cl">
                <label class="form-label col-xs-4 col-sm-2"><span class="c-red">*</span>数量：</label>
                <div class="formControls col-xs-8 col-sm-9">
                    <input type="text" class="input-text" value="@ViewData["Count"]" placeholder="" style="border:1px solid #4cff00;" id="Count" name="Count">
                </div>
            </div>
            <div class="row cl">
                <label class="form-label col-xs-4 col-sm-2"><span class="c-red">*</span>单位：</label>
                <div class="formControls col-xs-8 col-sm-9">
                    <input type="text" class="input-text" value="@ViewData["Units"]" placeholder="" style="border:1px solid #4cff00;" id="Units" name="Units">
                </div>
            </div>
            <div class="row cl">
                <label class="form-label col-xs-4 col-sm-2"><span class="c-red">*</span>产品名称：</label>
                <div class="formControls col-xs-8 col-sm-9">
                    <input type="text" class="input-text" value="@ViewData["ProductName"]" placeholder="" readonly="readonly" id="ProductName" name="ProductName">
                </div>
            </div>
            <div class="row cl">
                <label class="form-label col-xs-4 col-sm-2"><span class="c-red">*</span>本产品全部支架脚：</label>
                <div class="formControls col-xs-8 col-sm-9">
                    <input type="text" class="input-text" value="@ViewData["BracketFoot"]" placeholder="" style="border:1px solid #4cff00;" id="BracketFoot" name="BracketFoot">
                </div>
            </div>
            <div class="row cl">
                <label class="form-label col-xs-4 col-sm-2"><span class="c-red">*</span>任务备注：</label>
                <div class="formControls col-xs-8 col-sm-9">
                    <input type="text" class="input-text" value="@ViewData["taskdesc"]" placeholder="" style="border:1px solid #4cff00;" id="taskdesc" name="taskdesc">
                </div>
            </div>
            <div class="row cl">
                <label class="form-label col-xs-4 col-sm-2"><span class="c-red">*</span>设计截至日期：</label>
                <div class="formControls col-xs-8 col-sm-9">
                    <input type="text" onfocus="WdatePicker()" id="JieDate" name="JieDate" style="border:1px solid #4cff00;" class="input-text Wdate" value="@ViewData["JieDate"]">
                </div>
            </div>
            <div class="row cl">
                <label class="form-label col-xs-4 col-sm-2"><span class="c-red">*</span>任务附件1：</label>
                <div class="formControls col-xs-8 col-sm-9">
                    <input type="text" name="fileDownA" id="file1" value="@ViewData["file1"]" readonly="readonly">
                    <a href="~/TaskManagement/FileADownload?file1=@ViewData["file1"]">下载</a>
                </div>
            </div>
            <div class="row cl">
                <label class="form-label col-xs-4 col-sm-2"><span class="c-red">*</span>任务附件2：</label>
                <div class="formControls col-xs-8 col-sm-9">
                    <input type="text" name="fileDownB" value="@ViewData["file2"]" id="file2" readonly="readonly">
                    <a href="~/TaskManagement/FileBDownload?file2=@ViewData["file2"]">下载</a>
                </div>
            </div>
            <div class="row cl">
                <label class="form-label col-xs-4 col-sm-2"><span class="c-red">*</span>任务附件3：</label>
                <div class="formControls col-xs-8 col-sm-9">
                    <input type="text" name="fileDownC" id="file3" value="@ViewData["file3"]" readonly="readonly">
                    <a href="~/TaskManagement/FileCDownload?file3=@ViewData["file3"]">下载</a>
                </div>
            </div>
            <div class="row cl">
                <label class="form-label col-xs-4 col-sm-2"><span class="c-red">*</span>设计人：</label>
                <div class="formControls col-xs-8 col-sm-9 peo" style="display:none;">
                    @*<input type="text" class="input-text" value="@ViewData["MachineDesignOwner"]" placeholder="" id="MachineDesignOwner" name="MachineDesignOwner">*@
                    @*<select name="MachineDesignOwner" id="MachineDesignOwner" lay-verify="" lay-filter="MachineDesignOwner" lay-search></select>*@
                    @Html.DropDownList("selectd", ViewData["selectd"] as SelectList, "请选择", new { name = "MachineDesignOwner", id = "MachineDesignOwner", @lay_search = "", @lay_filter = "selectd" })
                    <input type="hidden" name="MachineDesignOwner" value="@ViewData["jixie"]" />
                </div>
            </div>
            <div class="row cl">
                <label class="form-label col-xs-4 col-sm-2"><span class="c-red">*</span>审核人：</label>
                <div class="formControls col-xs-8 col-sm-9">
                    @Html.DropDownList("selects", ViewData["selects"] as SelectList, "请选择", new { name = "QualifiedOwner", id = "QualifiedOwner", @lay_search = "", @lay_filter = "selects" })
                    <input type="hidden" name="QualifiedOwner" value="@ViewData["shenhe"]" />
                    @*<input type="text" class="input-text" value="胡超" placeholder="" id="QualifiedOwner" name="QualifiedOwner">*@
                    @*<select name="QualifiedOwner" id="QualifiedOwner" lay-verify="" lay-filter="QualifiedOwner" lay-search></select>*@
                </div>
            </div>
            <div class="row cl">
                <label class="form-label col-xs-4 col-sm-2"><span class="c-red">*</span>图纸审批人：</label>
                <div class="formControls col-xs-8 col-sm-9">
                    <input type="text" class="input-text" value="胡超" placeholder="" style="border:1px solid #4cff00;" id="IssueOwner" name="IssueOwner">
                </div>
            </div>
            <div class="row cl">
                <label class="form-label col-xs-4 col-sm-2"><span class="c-red">*</span>设计分值：</label>
                <div class="formControls col-xs-8 col-sm-9">
                    <input type="text" class="input-text" value="@ViewData["MachineDesignBaseScore"]" placeholder="" style="border:1px solid #4cff00;" id="MachineDesignBaseScore" name="MachineDesignBaseScore">
                </div>
            </div>
            <div class="row cl">
                <label class="form-label col-xs-4 col-sm-2"><span class="c-red">*</span>设计基准时间：</label>
                <div class="formControls col-xs-8 col-sm-9">
                    <input type="text" class="input-text" value="@ViewData["MachineDesignBaseTime"]" placeholder="" style="border:1px solid #4cff00;" id="MachineDesignBaseTime" name="MachineDesignBaseTime">
                </div>
            </div>
            <div class="row cl">
                <label class="form-label col-xs-4 col-sm-2"><span class="c-red">*</span>审核分值：</label>
                <div class="formControls col-xs-8 col-sm-9">
                    <input type="text" class="input-text" value="@ViewData["QualifiedBaseScore"]" placeholder="" style="border:1px solid #4cff00;" id="QualifiedBaseScore" name="QualifiedBaseScore">
                </div>
            </div>
            <div class="row cl">
                <label class="form-label col-xs-4 col-sm-2"><span class="c-red">*</span>审核基准时间：</label>
                <div class="formControls col-xs-8 col-sm-9">
                    <input type="text" class="input-text" value="@ViewData["QualifiedBaseTime"]" placeholder="" style="border:1px solid #4cff00;" id="QualifiedBaseTime" name="QualifiedBaseTime">
                </div>
            </div>
            <div class="row cl">
                <label class="form-label col-xs-4 col-sm-2"><span class="c-red">*</span>发行分值：</label>
                <div class="formControls col-xs-8 col-sm-9">
                    <input type="text" class="input-text" value="@ViewData["IssueBaseScore"]" placeholder="" style="border:1px solid #4cff00;" id="IssueBaseScore" name="IssueBaseScore">
                </div>
            </div>
            <div class="row cl">
                <label class="form-label col-xs-4 col-sm-2"><span class="c-red">*</span>发行基准时间：</label>
                <div class="formControls col-xs-8 col-sm-9">
                    <input type="text" class="input-text" value="@ViewData["IssueBaseTime"]" placeholder="" style="border:1px solid #4cff00;" id="IssueBaseTime" name="IssueBaseTime">
                </div>
            </div>
            <div class="row cl">
                <div class="col-xs-8 col-sm-9 col-xs-offset-4 col-sm-offset-2">
                    <button onclick="sub()" class="btn btn-primary radius" type="button"><i class="Hui-iconfont">&#xe632;</i>确定</button>
                </div>
            </div>
        </form>
    </article>


    <script type="text/javascript">
        layui.use(['form'], function () {
            var form = layui.form;
            form.on('select(selectd)', function (data) {
                var MachineDesignOwner = data.value
                $("input[name=MachineDesignOwner]").val(MachineDesignOwner)
            })
            form.on('select(selects)', function (data) {
                var QualifiedOwner = data.value
                $("input[name=QualifiedOwner]").val(QualifiedOwner)

            })
        });
        $.ready(
           document.getElementById('select').value = '@ViewData["select"]'
           );
        function sub() {
            $("#select").removeAttr("disabled");
            $("#form-article-add").ajaxSubmit({
                url: "@Url.Action("EditMachine", "TaskManagement")",
                type: "post",
                success: function (data) {
                    if (data == "true") {
                        alert("编辑成功！");
                        window.parent.location.reload();
                    }else
                    {
                        alert("编辑失败！");
                    }
                },
                error: function (aa) {
                    alert(aa);
                }
            });
        }
        $(function () {
            $("#cancled").click(function () {
                var sd = $("#u").text();
                window.parent.document.getElementById("rightframe").src = sd;
            });
            if ('@Session["name"]' == "") {
                window.top.location = '/Home/Login';
            }
           else if ('@Session["name"]' == "胡超") {
                $('.peo').css("display", "block");
            }
            //layui.use(['table', 'layer', 'form'], function () {

            //    var table = layui.table, layer = layui.layer
            //    , form = layui.form;

            //    $.ajax({
            //        type: "POST",
            //        url: '/TaskManagement/QualifiedOwner',
            //        dataType: "json",
            //        success: function (data) {
            //            if (data != null) {
            //                var list = data["data"];
            //                $.each(list, function (i, result) {
            //                    $('#QualifiedOwner').append('<option>' + result.UserName + '</option>');
            //                });
            //                //$.each(Level, function (i, result) {
            //                //    $('#MachineDesignOwner').append('<option>' + result.UserName + '</option>');

            //                //});
            //                form.render();
            //            }

            //        }

            //    });
            //    var Category = null;
            //    form.on('select(Category)', function (data) {
            //        Category = data.value;
            //    });
            })
    </script>
    <!--/请在上方写此页面业务相关的脚本-->
</body>
</html>