@{
    Layout = null;


}

<!DOCTYPE HTML PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>

    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>友力信息管理系统</title>
    <script src="../../My97DatePicker4.7.2/WdatePicker.js"></script>
    <script type="text/javascript" src="http://libs.baidu.com/jquery/1.8.3/jquery.min.js"></script>
    <link href="~/css/style.css" rel="stylesheet" type="text/css" />
    <link href="~/layui/css/layui.css" rel="stylesheet" />
    <script type="text/javascript" src="../../js/jquery.js"></script>
    <script src="~/layui/layui.js" type="text/javascript"></script>


    <script type="text/javascript">
        $(function () {
            $(".click").click(function () {
                $(".tip").fadeIn(200);
            });

            $(".tiptop a").click(function () {
                $(".tip").fadeOut(200);
            });

            $(".sure").click(function () {
                $(".tip").fadeOut(100);
            });

            $(".cancel").click(function () {
                $(".tip").fadeOut(100);
            });
            $("#addC").click(function () {
                var sd = $("#u").text();
                window.parent.document.getElementById("rightframe").src = sd;
            });
            $("#edit").click(function () {
                window.parent.document.getElementById("rightframe").src = "/Home/Eidt";
            });
            $("#Construction").click(function () {
                $.ajax({
                    url: "/TaskManagement/CompletionOfWorkOrder",
                    type: "post",
                    dataType: "text",
                    success: function (data) {
                        if (data == "true") {
                            window.setTimeout(function () {
                                alert("确认成功！")
                            }, 500);
                        }
                        else {
                            alert("确认失败！");
                            return;
                        }
                    }
                });
            });
            $("#PurchasingApplication").click(function () {
                window.parent.document.getElementById("rightframe").src = "/TaskManagement/Purchasing?ifDriver="+"@Session["ifB"]"+"&Taskid="+"@ViewData["TaskID2"]";
            });
            //查看事件
            //$(".deleteone").click(function () {
            //    var type = $(this).data('type');
            //    active[type] ? active[type].call(this) : '';
            //    alert("1");
            //});
            //var $ = layui.$, active = {
            //    getCheckLength: function () {
            //        var checkStatus = table.checkStatus('tw').data = checkStatus.data;
            //        var IdList = new Array();
            //        for (var j = 0; j < data.length; j++) {
            //            IdList[j] = data[j].id;
            //        }
            //        var url = "/Home/DeleteList?id=" + IdList;
            //        layer.confirm('选中了' + data.length + '条数据,真的要删除吗?', function (index) {
            //            layer.close(index);
            //            $.ajax({
            //                type: "post",
            //                url: url,
            //                data: { "id": IdList },
            //                async: true,
            //                success: function (data) {
            //                    if (data == "true") {
            //                        layer.msg('删除成功', { icon: 1 });
            //                        table.reload('tw');
            //                    }
            //                    else {
            //                        layer.msg('删除失败', { icon: 2 });
            //                        table.reload('tw');
            //                    }
            //                }
            //            })
            //        })
            //    }
            //}
            layui.use(['table', 'layer'], function () {
                var table = layui.table, layer = layui.layer;                              
                    table.render({
                        elem: '#tw'
                   , url: '/TaskManagement/TaskMapingWOCheck?taskid=' + '@ViewData["taskid"]'
                   , limit: 15
                   , cols: [[

                   , { field: '部件', width: 210, title: '部件', hide: true }
                   , { field: '订单数量', width: 210, title: '订单数量' }
                   , { field: '每套数量', width: 235, title: '每套数量', sort: true }
                   , {
                       field: '工单数量', width: 180, title: '工单数量',
                   }
                   , { field: '工单名称', title: '工单名称', width: 180 }
                   , { field: 'right', width: 250, align: 'center', toolbar: '#barDemo' }
                   ]]

                    });
                });
                table.on('checkbox(demo)', function (obj) {
                    console.log(obj)
                });

                table.on('tool(demo)', function (obj) {
                    var data = obj.data;
                    switch (obj.event) {
                        case 'add':
                            id = data.id;
                            layer.confirm('是否查询库存？', {
                                title: "友力提示", skin: "my-skin",
                                btn: ['是', '否'], btn1: function () {
                                    return
                                },
                                btn2: function () {
                                    PartNumber = data.产品名称;
                                    TotalPCS = data.订单数量
                                    TotalQTY = data.工单数量;
                                    QTYofOneSet = data.每套数量;
                                    TaskID = data.任务编号;
                                    $.ajax({
                                        url: "/TaskManagement/TurnPwo?pcName=" + "@ViewData["pcNamed"]" + "&PartNumber=" + PartNumber + "&TotalPCS=" + TotalPCS + "&TotalQTY=" + TotalQTY + "&QTYofOneSet=" + QTYofOneSet + "&TaskID=" + TaskID,
                                        type: "post",
                                        dataType: "text",
                                        success: function (data) {
                                            if (data == "true") {
                                                window.setTimeout(function () {
                                                    layer.msg('转换成功！');
                                                    table.reload('tw');
                                                }, 500);
                                            }
                                            else {
                                                alert("转换失败！");
                                                return;
                                            }
                                        }
                                    });
                                }
                                });
                           
                            break;                                                                 
                    };
                });


            });
       



    </script>
    <script type="text/html" id="barDemo">
        <a class="layui-btn layui-btn-xs" id="add" lay-event="add">转生产工单</a>
    </script>


</head>


<body>

    

    <div class="rightinfo">

        <div class="tools">

            <ul class="toolbar">                                     
              
                <li>
                    项目名称：
                    <input class="pjName" id="pjName" type="text" style="width: 80px;" value="@ViewData["pjname"]"/>
                </li>
                <li>
                    产品名称：
                    <input class="pcName" id="pcName" type="text" style="width: 80px;" value="@ViewData["pcName"]"/>
                </li>
                <li>
                    产品规格：
                    <input class="ProductSpecification" id="ProductSpecification" type="text" style="width: 80px;" value="@ViewData["spec"]"/>
                </li>
                <li>
                    任务类型：
                    <input class="TaskType" id="TaskType" type="text" style="width: 80px;" value="@ViewData["TaskType"]" />
                </li>
                <li>
                    机械or电气：
                    <input class="Choose" id="Choose" type="text" style="width: 80px;" value="@ViewData["Choose"]" />
                </li>
            </ul>
            <button class="layui-btn" id="PurchasingApplication" data-type="reload">采购申请</button>
            <button class="layui-btn" id="Construction" data-type="reload">确认完成建工单</button>
        </div>
        <table class="tablelist" id="tw" lay-filter="demo"></table>
    </div>
    <script type="text/javascript" src="~/lib/jquery/1.9.1/jquery.min.js"></script>
    <script type="text/javascript" src="~/lib/layer/2.4/layer.js"></script>
    <script type="text/javascript" src="~/static/h-ui/js/H-ui.min.js"></script>
    <script type="text/javascript" src="~/static/h-ui.admin/js/H-ui.admin.js"></script>
    <script type="text/javascript" src="~/lib/laypage/1.2/laypage.js"></script>
    <script type="text/javascript">

            function admin_add(title, url, w, h) {
                layer_show(title, url, w, h);
            }
    </script>
    <script type="text/javascript">
        $('.tablelist tbody tr:odd').addClass('odd');
    </script>
</body>
</html>
