@{
                /**/

                Layout = null;


}

<!DOCTYPE HTML PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>

    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>友力信息管理系统</title>
    <script src="../../My97DatePicker4.7.2/WdatePicker.js"></script>
    <script type="text/javascript" src="http://libs.baidu.com/jquery/1.8.3/jquery.min.js"></script>
    <link href="~/css/style.css" rel="stylesheet" type="text/css" />
    <link href="~/layui/css/layui.css" rel="stylesheet" />
    <script type="text/javascript" src="../../js/jquery.js"></script>
    <script src="~/layui/layui.js" type="text/javascript"></script>


    <script type="text/javascript">
        $(document).keydown(function (e) {
            switch (e.keyCode) {
                case 27:
                    window.history.go(-1);
                    break;
            }
        });
        $(function () {
         if ('@Session["name"]' == "") {
                window.top.location = '/Home/Login';
            }
            var url = "/TaskManagement/CompleteProcessSetting?tastid=" + '@ViewData["taskid"]';           
            $("#m1").click(function () {
                window.parent.document.getElementById("rightframe").src = "/TaskManagement/TaskMapPart?TaskID=" + "@Session["task1"]" + "&ProductName=" + "@Session["ProductName1"]" + "&ProductSpec="+"@Session["ProductSpec2"]";
            });
            $("#addC").click(function () {
                //var sd = $("#u").text();
                //window.parent.document.getElementById("rightframe").src = sd;
                alert("功能还没开始!");
            });
            $("#edit").click(function () {
                window.parent.document.getElementById("rightframe").src = "/Home/Eidt";
            });
            $("#Process").click(function () {

            });
            $("#BindingProductConfirmation").click(function () {

            });
            $("#ProcessSetup").click(function () {
                $.ajax({
                    url: url,
                    type: 'post',
                    async: true,
                    success: function (data) {
                        if (data == "true") {
                            layer.msg("完成工艺成功！", { icon: 6 });
                            window.parent.document.getElementById("rightframe").src = "/TaskManagement/MyTask";
                        }
                        if (data == "false") {
                            layer.msg('数据操作异常!', { icon: 5 });
                            return false;
                        }
                    }
                });
            });

            layui.use(['table', 'layer'], function () {
                    var table = layui.table, layer = layui.layer;
                    table.render({
                        elem: '#tw'
                   , url: '/TaskManagement/CheckBOM?PName=' + '@ViewData["ProductName"]'
                   , done: function () {
                     $("tr a").hide()
                     $("tr").hover(function () {
                         $(this).children().last().children().children().toggle();
                     })
                                       }
                   , cols: [[
                   , { field: '序号', width: 57, title: '序号' }
                   , { field: '工件编码', width: 230, title: '工件编码' }
                   , { field: '子件编码', width: 200, title: '子件编码', event: 'zi', style: 'color: red' }
                   , {
                       field: '子件数量', width: 100, title: '子件数量'
                   }
                   , { field: '原材料用量', title: '原材料用量', width: 200, edit: Text, style: 'color: #009688' }
                   , { field: '原材料单位', width: 200, title: '原材料单位', edit: Text, style: 'color: #009688' }
                   , { field: '是否组装件', width: 100, title: '是否组装件', templet: '#dd' }
                   , { field: '工艺流程', width: 100, title: '工艺流程', event: 'xi', templet: '#cc' }
                   , { field: 'right', width: 250, align: 'center', toolbar: '#barDemo' }
                   ]]

                    });
                table.on('tool(demo)', function (obj) {
                    var data = obj.data;
                    if (obj.event === 'xi') {
                        var zj = data.是否组装件;
                        var parid = data.子件序号;
                        if (zj == 0) {
                            d.工艺流程 = '';
                            layer.msg('没有流程!');
                        }
                        else {
                            pn = data.子件编码;
                            prn = data.工件编码;
                            spec = data.子件规格;
                        
                            var url = '/TaskManagement/EditingProcess?ProductName=' + prn + '&ProductSpec=' + spec + '&PartNumber=' + pn + '&PartId=' + parid;
                            var index = layer.open({
                                type: 2,
                                content: url,
                                area: ['1200px', '700px'],
                                maxmin: true
                            });
                            layer.full(index);
                        }
                    }
                    if (obj.event === 'zi') {
                        Zi = data.子件编码;
                        window.parent.document.getElementById("rightframe").src = '/TaskManagement/TaskMapPart2?TaskID=' + '@Session["task2"]' + '&ProductName=' + '@Session["ProductName2"]' + '&ProductSpec=' + '@Session["ProductSpec2"]' + '&zi=' + Zi;
                    }
                    switch (obj.event) {
                        case 'delete':
                            layer.confirm('真的删除行么', function (index) {
                                id = data.序号;
                                layer.close(index);
                                var url = "/TaskManagement/DeleteBOM?id=" + id;
                                $.ajax({
                                    url: url,
                                    type: 'post',
                                    async: true,
                                    success: function (data) {
                                        if (data == "true") {
                                            layer.msg("删除成功", { icon: 6 });
                                            table.reload('tw');
                                        }
                                        if (data == "false") {
                                            layer.msg('数据操作异常!', { icon: 5 });
                                            return false;
                                        }
                                    }
                                });
                            });
                            break;
                        case 'update':
                            id = data.序号;
                            dosage = data.原材料用量;
                            unit = data.原材料单位;
                                var url = "/TaskManagement/UpdateBOM?id="+id+ "&dosage=" + dosage + "&unit=" + unit;
                                $.ajax({
                                    url: url,
                                    type: 'post',
                                    async: true,
                                    success: function (data) {
                                        if (data == "true") {
                                            layer.msg("修改成功", { icon: 6 });
                                            table.reload('tw');
                                        }
                                        if (data == "false") {
                                            layer.msg('用量和单位不能为空！', { icon: 5 });
                                            return false;
                                        }
                                    }
                                });
                            break;
                        case 'subpp':
                            id = data.子件序号;
                            var url = "/TaskManagement/SubmitPlan?taskid=" + "@Session["quetask"]" + "&partid=" + id;
                            $.ajax({
                                url: url,
                                type: 'post',
                                async: true,
                                success: function (data) {
                                    if (data == "true") {
                                        layer.msg("提交成功", { icon: 6 });
                                    }
                                }
                            });
                            break;
                    };
                });


            });
        })



    </script>
    <script type="text/html" id="barDemo">
        <a class="layui-btn layui-btn-xs" id="edit" lay-event="update">编辑</a>
        <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="delete" data-type="getCheckLength" id="delete">删除</a>
        @*<a class="layui-btn layui-btn-xs layui-btn-normal" lay-event="subpp" id="subpp">提交到计划部</a>*@
    </script>
    <script type="text/html" id="cc">
        {{#  if(d.工艺流程 != null){ }}
        <span style="color: red">{{d.工艺流程}}</span>
        {{#  } else { }}

        {{#  } }}
    </script>
    <script type="text/html" id="dd">
        {{#  if(d.是否组装件 == '0'){ }}
        <span>否</span>
        {{#  } else if(d.是否组装件 == '1'){ }}
        <span>是</span>
        {{#  } }}
    </script>
</head>


<body>

    <div class="rightinfo">

        <div class="tools">

            <ul class="toolbar">
                <li class="ads" id="addC">
                    <span>
                        <img src="../../images/t01.png" />
                    </span><a target="rightFrame">新增子件</a><i hidden=hidden id="u">/TaskManagement/NewChildThing</i>
                </li>
                <li>
                    产品名称：
                    <input class="ProductName" id="ProductName" type="text" style="width: 250px;" value="@ViewData["ProductNamesd"]" />
                </li>
                <li>
                    产品规格：
                    <input class="ContractNumber" id="ContractNumber" type="text" style="width: 180px;" value="@ViewData["ProductSpec"]" />
                </li>
                <li>
                    工作目录：
                    <a href="#" id="m1">1</a>
                    <a href="#" id="m2" hidden="hidden">2</a>
                </li>
            </ul>
            @*<button class="layui-btn" id="Process" data-type="reload">查看工艺流程</button>*@
            <button class="layui-btn" id="ProcessSetup" data-type="reload">确认完成工艺设置</button>
        </div>
        <table class="tablelist" id="tw" lay-filter="demo"></table>
    </div>
    <script type="text/javascript" src="~/lib/jquery/1.9.1/jquery.min.js"></script>
    <script type="text/javascript" src="~/lib/layer/2.4/layer.js"></script>
    <script type="text/javascript" src="~/static/h-ui/js/H-ui.min.js"></script>
    <script type="text/javascript" src="~/static/h-ui.admin/js/H-ui.admin.js"></script>
    <script type="text/javascript" src="~/lib/laypage/1.2/laypage.js"></script>
    <script type="text/javascript">

        function admin_add(title, url, w, h) {
            layer_show(title, url, w, h);
        }
    </script>
    <script type="text/javascript">
        $('.tablelist tbody tr:odd').addClass('odd');
    </script>
</body>
</html>
