@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title></title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>友力信息管理系统</title>
    <link href="~/css/style.css" rel="stylesheet" type="text/css" />
    <link href="~/layui/css/layui.css" rel="stylesheet" />
    <script type="text/javascript" src="~/lib/My97DatePicker/4.8/WdatePicker.js"></script>
    <script type="text/javascript" src="../../js/jquery.js"></script>
    <script type="text/javascript" src="~/js/jquery-1.9.1.min.js"></script>
    <script src="~/layui/layui.js" type="text/javascript"></script>
    <script type="text/javascript" src="~/lib/layer/2.4/layer.js"></script>
    <script type="text/javascript" src="~/lib/laypage/1.2/laypage.js"></script>
    <script src="~/js/Supplier.js"></script>
    <script src="~/Scripts/jquery.form.js" type="text/javascript"></script>
</head>
<body>
    <form class="layui-form" id="form-article-add" style="margin-top:20px">
        <div class="layui-form-item">
            <label class="layui-form-label">产品序号：</label>
            <div class="layui-input-block">
                <input type="text" lay-verify="required" name="id" value="@ViewData["id"]" autocomplete="off" class="layui-input" readonly>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">产品名称：</label>
            <div class="layui-input-block">
                <input type="text" lay-verify="required" name="pnumber" value="@ViewData["pnumber"]" autocomplete="off" class="layui-input" readonly>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">产品规格：</label>
            <div class="layui-input-block">
                <input type="text" lay-verify="required" name="pspec" value="@ViewData["pspec"]" autocomplete="off" class="layui-input" readonly>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">产品材料：</label>
            <div class="layui-input-block">
                <input type="text" lay-verify="required" name="pmater" value="@ViewData["pmater"]" autocomplete="off" class="layui-input" readonly>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">图号：</label>
            <div class="layui-input-block">
                <input type="text" lay-verify="required" name="fnumber" value="@ViewData["fnumber"]" autocomplete="off" class="layui-input" readonly>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">产品数量：</label>
            <div class="layui-input-block">
                <input type="number" lay-verify="required" name="ProductQuantity" autocomplete="off" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">打包数量：</label>
            <div class="layui-input-block">
                <input type="number" lay-verify="required" name="PackageNumber" autocomplete="off" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">单位：</label>
            <div class="layui-input-block">
                <input type="text" lay-verify="required" name="Units" autocomplete="off" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">项目编号：</label>
            <div class="layui-input-block" style="width:400px">
                <select name="CNumber" id="CNumber" lay-verify="" lay-filter="CNumber" lay-search> <option value="">请选择</option></select>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">项目名称：</label>
            <div class="layui-input-block">
                <input type="text" lay-verify="required" name="CName" autocomplete="off" class="layui-input">
            </div>
        </div>
        @*<div class="layui-form-item">
            <label class="layui-form-label">成品或部件:</label>
            <div class="layui-input-block">
                <select name="city" lay-verify="required">
                    <option value="成品">成品</option>
                    <option value="部件">部件</option>
                </select>
            </div>
        </div>*@
        <div class="layui-form-item">
            <div class="layui-input-block">
                <button class="btn btn-primary radius" type="button">确认打印标签</button>
            </div>
        </div>
    </form>

    <script>
        layui.use(['layer', 'form', 'jquery'], function () {
            var form = layui.form, layer = layui.layer, $ = layui.jquery;
            form.render();
            $.ajax({
                type: "POST",
                url: '/FinishProductHouse/getCNumber',
                dataType: "json",
                success: function (data) {
                    if (data != null) {
                        var list = data["data"];
                        $.each(list, function (i, result) {
                            $('#CNumber').append('<option value=' + result.ContractNumber + '>' + result.ContractNumber + '</option>');
                        });
                        form.render();
                    }
                }
            });
            form.on('select(CNumber)', function (data) {
              
                $.ajax({
                    url: "/FinishProductHouse/CheckCustomerName",
                    data: { cnumber: data.value },
                    type: "post",
                    dataType: "text",
                    success: function (data) {
                        $("[name=CName]").val(data);
                    }
                });
            });
        });
        $(function () {
              if ('@Session["name"]' == "") {
                window.top.location = '/Home/Login';
            }
        
           
            $(".radius").click(function () {
                var id = $("[name=id]").val();
                var pnumber = $("[name=pnumber]").val();
                var pspec = $("[name=pspec]").val();
                var pmater = $("[name=pmater]").val();
                var fnumber = $("[name=fnumber]").val();
                var ProductQuantity = $("[name=ProductQuantity]").val();
                var PackageNumber = $("[name=PackageNumber]").val();
                var CNumber = $("[name=CNumber]").val();
                var Units = $("[name=Units]").val();
                $.ajax({
                    type: "get",
                    url: '/ProductionPlanning/ProductAdds',
                    data: { id: id, pnumber: pnumber, pspec: pspec, pmater: pmater, fnumber: fnumber, ProductQuantity: ProductQuantity, PackageNumber: PackageNumber, Units: Units, CNumber: CNumber },
                    dataType: "text",
                    success: function (data) {   
                        if (data == "1") {
                            alert("产品数量不能为空！");
                        }
                        else if (data == "2") {
                            alert("打包数量不能为空！");
                        } else if (data == "3") {
                            alert("打包数量不能超过50个！");
                        }
                        else {
                            var index = layer.open({
                                type: 2,
                                content: "/ProductionPlanning/PackingDetail?packname="+data,
                                title: "显示打印信息",
                                maxmin: true
                            });
                            layer.full(index);
                        }
                    }
                });
            });
        });


    </script>
</body>

</html>
